[2016-02-17 20:36] mulchy commented on #1899
Updated to the latest version,
[code]
Same result.

[2016-02-18 05:16] jamescgibson opened #1900 "Cannot use heroku toolbelt - hangs on "Installing Core Plugins""
Every time I run any `heroku` command I get e.g.:

[code]

This will hang for north of 20 minutes with no network activity.

I'm on 14.04. I've tried every combination of:

ruby 2.3.0 with rvm
ruby 2.2.3 with rvm
node 4.1.1 with nvm
node 5.6 with nvm
heroku installed using the apt package
heroku installed standalone

And no dice. I'm fairly confident in my ability to debug this, but am not even su

[2016-02-18 06:04] dickeyxxx commented on #1900
try running it with `GODE_DEBUG=1`

[2016-02-18 15:42] jooshbzm opened #1901 "pg:backups restore fails with a 0 exit code"
A few times over the past month, one of our scheduled `pg:backups restore` jobs has failed silently and left the database in a bad state. From what I can tell, this command exits with a 0 exit code even when the restore fails.

Here's my output:

[code]

[2016-02-18 16:31] jamescgibson commented on #1900
@dickeyxxx Thanks! Unfortunately, no dice;

[code]

And it just hangs.

[2016-02-18 16:45] ransombriggs commented on #1900
@jamescgibson Could you set `GODE_DEBUG=info` and try again?  This will not fix your problem, but should give us the logging information needed to fix it.

[2016-02-18 19:57] dickeyxxx commented on #1900
@ransombriggs I already asked him to do that

It looks like it got stuck at an another step though. It seems like your internet connection might be unreliable. You could try running it with HEROKU_DEBUG=1 but I'm not sure that would show more information.

[2016-02-18 21:45] soniacaan opened #1902 "$heroku pg:reset DATABASE gives Error: undefined method `map' for #<String:0x00000004170fd0> (NoMethodError)"
I am new to this, so not sure where to start to fix this issue. I also noticed that database fields on my local DB are not reflected in Postgres DB in Heroku.

$heroku pg:reset DATABASE
above command gives an error message
 !    Heroku client internal error.
 !    Search for help at: https://help.heroku.com
 !    Or report a bug at: https://github.com/heroku/heroku/issues/new

    Error:       und

[2016-02-19 06:38] jamescgibson commented on #1900
`GODE_DEBUG=info` eventually worked, showed it hanging randomly after downloading different pacages. After five or six times, success. Not sure what to make of it, maybe I have an odd configuration that's causing problems - frustrating that something as common as a slightly unreliable residential internet connection can throw npm for a loop, heh.

Really appreciate the help @ransombriggs and @dick

[2016-02-19 06:38] #1900 closed

[2016-02-19 10:56] #1791 closed

[2016-02-19 14:40] dickeyxxx commented on #1900
there are (unfortunately) lots of things it has to download. We're working to reduce that though.

[2016-02-21 08:01] GSmaller opened #1904 "Heroku client internal error."
Error:       read timeout reached (Excon::Errors::Timeout)
    Command:     heroku
    Version:     heroku-toolbelt/3.42.36 (x86_64-darwin10.8.0) ruby/1.9.3
    Error ID:    3fb03e178b7f4e248fa7d244fc56944d

[2016-02-22 09:10] johnbeynon opened #1905 "'method_missing': undefined method `this'"
Brought this across from StackOverflow (http://stackoverflow.com/questions/35548753/heroku-server-restart-command-throwing-error)

`heroku restart` is throwing:

[code]

seems to be when trying to include the updater :
https://github.com/heroku/heroku/blob/master/bin/heroku#L11

But from the StackTrace it looks like it's a Gem'ed install.

[2016-02-22 09:40] samar-mishra commented on #1905
Yes I am facing this issue !

[2016-02-22 15:30] sailing commented on #911
Thanks @dirkkelly!

[2016-02-22 16:05] jjb commented on #674
In august 2015 above, heroku said "we're planning to start working on from next week "

in Heroku ticket 323745 @dickeyxxx pointed me to this as the root cause: https://github.com/ddollar/forego/issues/67

I suggested that heroku fork forego and he said "we might have to".

Looks like that hasn't happened yet and that this bug which affects many (10s of thousands?) users hasn't been fixed since 20

[2016-02-22 16:10] jjb commented on #674
Looks like @ddollar merged to master on feb 16 2015 but didn't do a release

[2016-02-22 16:36] dickeyxxx commented on #674
@jjb it sounds like you're talking about heroku local, this ticket is about heroku run

[2016-02-22 19:07] nodeit commented on #1721
+1

[2016-02-22 20:25] ransombriggs commented on #1902
@soniacaan What is your apps name?  If you do not feel comfortable sharing it in this issue, feel free to email it to me at rbriggs@heroku.com .

[2016-02-22 22:11] ransombriggs commented on #1895
@jonathantribouharet Could you please switch back to 2.3.0 and run `gem update heroku` and try again? I was unable to reproduce your exact error, but I have shipped a fix which should hopefully fix your problem. The version with the fix is in `3.42.37`, which you can verify via `gem list heroku`.

[2016-02-22 22:30] jonathantribouharet commented on #1895
Yes it works, thank you.

[2016-02-22 22:30] #1895 closed

[2016-02-23 17:27] yanhackcode15 opened #1907 "Faye not working on heroku"
Faye isn't working properly on heroku. I had faye working locally and was able to publish and sub to message.

I can see faye server booting up from heroku logs but after a publish from the rails server client, I'm not getting the callback which puts a message.

I'm not sure what's missing. The configuration locally should have worked.

my app is at: http://jedi-parking.herokuapp.com/

[2016-02-23 17:28] dickeyxxx commented on #1907
Can you submit a support ticket? This project is for the Heroku CLI.

[2016-02-23 17:28] #1907 closed

[2016-02-24 02:19] NathanielGiron commented on #1690
please check @murkey 's solution, it worked for me

[2016-02-24 18:23] jvbreen1 commented on #881
If this issue is resolved, it should probably be closed.

[2016-02-24 18:30] #881 closed

[2016-02-24 20:49] nitinsurana opened #1909 "Cannot install heroku (mac) bin/node : no such file or directory"
fork/exec bin/node: no such file or directory
heroku-cli: Installing core plugins (retrying)...
 ▸    Error installing package.

[2016-02-24 20:56] nitinsurana commented on #1899
Facing the same issue. :+1:

[2016-02-24 21:30] ransombriggs commented on #1909
@nitinsurana Could you please run the following commands an append the output?

[code]

[2016-02-24 23:12] ransombriggs commented on #1899
@mulchy @nitinsurana Sorry for the delayed response, but I have not been able to reproduce this locally.  Thank you for the link that you posted, it should help me debug things from your side.  Would either of you feel comfortable using tcpdump to analyze things from your side?  I ran it locally and could not find any records > 512 which seems to be the underlying issue.  Basically open two window

[2016-02-25 00:28] ransombriggs commented on #1899
Could you also check .heroku/error.log to see if there is a backtrack for this?

[2016-02-25 04:54] soniacaan commented on #1902
On Heroku its: morning-journey-96221

Now I am trying to migrate the app on my local machine to vagrant VM. But this error is also stopping the ability to create a backup too and restore to local.

Thanks, S

[2016-02-25 14:48] mhutter commented on #1813
I observe the same problem on a fresh install of the heroku toolbelt on CentOS 7

[code]

and the `.heroku/error.log`:

[code]

I have tried multiple times with different commands, to no avail.

Is there a way to get the download URL so I can try downloading the file directly?

[2016-02-25 16:55] ransombriggs commented on #1902
@soniacaan Sorry, but could you please try again?  This error comes from a JSON response parsing failure.  I did a request and checked the JSON for your app and it parses fine for me.  I then recreated an app with the same setup as yours on my Windows machine to make sure it was not a windows thing and everything appeared to work.  Could you try again, just in case it was a temporary issue with th

[2016-02-25 16:59] ransombriggs commented on #1905
Could you please run `gem update heroku` and try again?  I have shipped a fix for this error in version `3.42.37` of the gem.

[2016-02-25 17:44] ransombriggs commented on #1813
@mhutter The download URLs are available here: https://cli-assets.heroku.com/master/manifest.json .  For your platform, you would want to download https://cli-assets.heroku.com/master/4.27.23-df3c8ac/linux/amd64/heroku-cli and verify it matches the SHA 49f642ecd566dca9222d742bba2e785552c5e4e2 .  Assuming a proper download, you would want to drop it in `~/.heroku/heroku-cli`.  In the future you may

[2016-02-25 17:51] nitinsurana commented on #1899
Here is what I get when running `tcp dump` in another terminal simultaneously :
[code]

And below is the content of error.log file

[code]

[2016-02-25 20:59] ransombriggs commented on #1899
@nitinsurana thanks so much for your tcpdump, I updated my dns to 8.8.8.8, but was not able to recreate.  Could you please run `dig api.heroku.com` and paste in the results as well, I am still trying to figure out why we get different results.
[code]

[2016-02-26 02:13] jvbreen1 commented on #1169
@dickeyxxx Is this still an issue?

[2016-02-26 03:21] jvbreen1 commented on #1060
@ThomasZhou were you able to resolve this issue?

[2016-02-26 05:29] nitinsurana commented on #1899
It works at my office though. At home wifi, will run the `dig` command tonight and paste the results here.

[2016-02-26 06:07] mulchy commented on #1899
@ransombriggs I am having the opposite problem of @nitinsurana, and can only reproduce this at work. :) I will check and see if I am still facing the issue tomorrow. If I am understanding the situation correctly, some DNS server (potentially totally unrelated to Heroku) is not following the spec and sending too large of a message? Maybe this is not even really a Heroku cli issue?

[2016-02-26 13:58] mhutter commented on #1813
@ransombriggs thanks for the info. Using the manifest I was able to download the binary and verify it, no problems at all.

I suspect our corporate proxy, which does SSL-scanning by performing a "man in the middle"-attack, to cause the problems. I'll probably be able to verify this next week (I requested `*.heroku.com` to be whitelisted from the scanning).

I have noticed that heroku maintains its

[2016-02-26 15:37] ransombriggs commented on #1060
@jvbreen1 Can you paste in the error that you are receiving?  As this issue is outdated, I suspect you are getting an error at a different spot in the toolbelt execution, and I want to make sure my suggestion works for you using the current version of the toolbelt.

If you are getting this exact error, could you please try setting `ENV['SSL_CERT
_DIR'] = path_to_certs` or `ENV['SSL_CERT_FILE'] = p

[2016-02-26 15:44] ransombriggs commented on #1899
@mulchy I was originally thinking the same thing, that it was a misconfigured DNS server outside of our control.  But the fact that @nitinsurana is using 8.8.8.8 made me want to investigate this further, as I suspect there is a decently large group of people that use the Google public DNS.  As for why I get a different size response from 8.8.8.8, I need to investigate that further, thinking possib

[2016-02-26 16:05] ransombriggs commented on #1813
@mhutter Do you happen to know what software your corporate proxy uses?  I have an extra computer with ubuntu that I was going to use as a proxy server so I can recreate proxy issues people have encountered, but want to make sure I match what people are experiencing.

[2016-02-26 16:31] jvbreen1 commented on #1060
Sorry, I wasn't clear. I'm not currently having the issue. I was combing through old issues and noticed this one lingering around. Can this issue be closed?

[2016-02-26 17:26] mhutter commented on #1813
@ransombriggs that would be McAffee Web Gateway :-S

[2016-02-26 18:09] nitinsurana commented on #1899
Here is the output of dig command

[code]

[2016-02-26 18:22] dickeyxxx commented on #1899
@ransombriggs I get this (not sure if this is helpful or not)

[code]

[2016-02-26 19:54] mulchy commented on #1899
output of `tcpdump -n udp port 53` while running heroku login
[code]
If I am reading this output correctly it looks like the amazon servers are sending responses larger than 512 bytes.

output of dig api.heroku.com (very similar to others)
[code]

[2016-02-26 20:45] soniacaan commented on #1902
I decided to setup Vagrant VM to try to cut out some of the windows related issues, but getting the same error, so it might be my heroku setup, is my guess.

1) C:/Program Files (x86)/Heroku/bin/heroku
=====================================

#!/bin/sh
# find embedded ruby relative to script
bindir=`cd -P "${0%/*}/../ruby-2.1.7/bin" 2>/dev/null; pwd`
exec "$bindir/ruby" -x "$0" "$@"

#!/usr/bin/env

[2016-02-26 20:48] soniacaan commented on #1902
Did some digging. This is another error I came across, not sure if this is the root cause of sorts.

$heroku keys
===  Keys
 !    Heroku client internal error.
 !    Search for help at: https://help.heroku.com
 !    Or report a bug at: https://github.com/heroku/heroku/issues/new

    Error:       undefined method `map' for #<String:0x000000040fdbe8> (NoMethodError)
    Command:     heroku keys

[2016-02-26 22:25] ransombriggs commented on #1060
Closing issue due to the fact that `heroku login` is no longer in the Ruby code so this will not fail in this way anymore.

[2016-02-26 22:25] #1060 closed

[2016-02-27 14:25] RGafiyatullin commented on #1721
@liron00 , many thanks!

[2016-02-27 21:35] davidsavoya commented on #1505
I am glad I found this as an example.

[2016-02-29 05:25] stevehanson commented on #1505
:+1: I couldn't figure it out for anything until I found this. Thanks.

[2016-02-29 11:26] NoxHarmonium commented on #1815
I am getting this with Node.js also.

    worker.1 | Warning: a promise was created in a handler but was not returned from it
    worker.1 | :77:13)

Very strange.

[2016-02-29 16:39] ransombriggs commented on #1904
@GSmaller Sorry for the delayed response, but could you please try again?  This is most likely a temporary network error.  When you ran the command for the first time, it tried to fetch updates and failed.

[2016-02-29 16:43] #1905 closed

[2016-02-29 22:34] ransombriggs commented on #1899
@mulchy @nitinsurana Could you please run the following commands?  We recently updated Go from 1.5.3 to 1.6 and I want to make sure that you still have the DNS issue with the updated version of the compiler.
[code]

[2016-02-29 22:38] ransombriggs commented on #1899
@nitinsurana Could you also run this as well, I noticed that you get a response too large from the Google Public DNS, but the dig example from before went against your local DNS.  Being able to use a publicly available DNS server as an example will make debugging easier.  Also, what is your exact OS version?
[code]

[2016-03-01 00:25] jvbreen1 commented on #1601
@retyui is this resolved now? Are you still able to reproduce?

[2016-03-01 01:05] #1601 closed

[2016-03-01 19:29] dhiwakarmani commented on #1909
I do have same issue. I tried that. Same error.

MacBook-Pro:test1 dmani$ heroku update
heroku-cli: Adding dependencies...
 ▸    Get https://cli-assets.heroku.com/node/v5.7.0/node-v5.7.0-darwin-x64.tar.gz: x509: certificate signed by unknown authority
 done
heroku-cli: Installing core plugins...
 ▸

 ▸    fork/exec bin/node: no such file or directory
heroku-cli: Installing core plugins (retrying).

[2016-03-01 20:10] ransombriggs commented on #1899
@mulchy @nitinsurana I was doing some more research into the problems you were having when a co-worker pointed me to the following issue https://github.com/golang/go/issues/6464 which indicates that the go dns resolver does not support edns which would explain your problem.  I turned off the netgo compilation flag, which we had enabled to try and fix this issue https://github.com/heroku/heroku/iss

[2016-03-01 20:13] ransombriggs commented on #1886
@jrmiranda We removed the netgo build flag to fix a bug for DNS problems users have been experiencing in #1899 .  Since this issue was last addressed, we have updated the Go runtime, which may or not fix this bug.  If you encounter this error again, please let us know immediately and I will see if there is another way we can fix this issue.

[2016-03-01 21:18] mulchy commented on #1899
After upgrading
[code]

I still see DNS messages over 512 bytes coming through, but I am able to login successfully. I would recommend closing this issue.

output of `tcpdump -n udp port 53`
[code]

[2016-03-01 21:39] mulchy commented on #1899
Also thanks so much for your help @ransombriggs!

[2016-03-01 22:51] ransombriggs commented on #1899
@mulchy thanks for all your debugging help, glad to hear this worked!

[2016-03-02 15:56] ransombriggs commented on #1902
@soniacaan Sorry for the delayed response, could you also attach the value of your %PATH% ?

[2016-03-02 19:53] ransombriggs commented on #1902
@soniacaan Could you please run `heroku update` and `heroku version` and verify you have `heroku-toolbelt/3.42.39` and then try again?  I just shipped some code so that the error output is more clear.  This will not fix your problem, but will give us better insight into the cause.

[2016-03-03 16:14] nitinsurana commented on #1899
After upgrading heroku-toolbelt using `heroku update`, I'm able to login successfully.
Thanks for all the help.

[2016-03-03 16:37] ransombriggs commented on #1899
Good to hear!

[2016-03-03 16:37] #1899 closed

[2016-03-04 08:26] mhutter commented on #1813
Whitelisting `*.heroku.com` did resolve the issue for me.

[2016-03-04 15:17] ransombriggs commented on #1813
@mhutter Thanks for letting us know.  We have started work on integrating the OS certificates better so that other people do no encounter the same issue.

[2016-03-05 07:23] singhakash opened #1910 "Heroku : No application found to handle 'web_url'"
I am trying to deploy my node.js application to heroku .I am following [this][1] tutorial.

But when I did `heroku open` below error is shown:

    $ heroku open
    Opening commentsystems... failed
     !    Heroku client internal error.
     !    Search for help at: https://help.heroku.com
     !    Or report a bug at: https://github.com/heroku/heroku/issues/new

        Error:       No applicat

[2016-03-06 10:18] yob opened #1911 "Not installable on Debian Unstable"
Hi,

I'm attempting to install the heroku toolbelt on a debian unstable system via the recommend command:

[code]

.. but I get the following error:

[code]

I then attempt to install it via apt-get directly:

[code]

.. and got a more descriptive error:

[code]
According the [this page](https://packages.qa.debian.org/r/ruby2.1.html), ruby 2.1 was removed from unstable on 2016-03-05. [ruby2.2](htt

[2016-03-07 14:51] yanowitz commented on #1505
+1. Super confused. Finally realized I'm supposed to do:
[code]

with the string literal "DATABASE_URL"

[2016-03-07 21:52] ransombriggs commented on #1911
@yob I just pushed a new release to allow 2.2 and 2.3, could you please try again?

[2016-03-07 22:20] yob commented on #1911
Thanks @ransombriggs, it installed without an issue

[2016-03-07 22:22] #1911 closed

[2016-03-09 07:17] leonkidd commented on #1818
Hi @ransombriggs , I have the same problem, could you please help me to fix it.

[2016-03-09 15:32] ransombriggs commented on #1818
@leonkidd Could you please `set GODE_DEBUG=info` and `set HEROKU_DEBUG=1` and paste your output?

[2016-03-09 19:37] ransombriggs commented on #1910
@singhakash sorry for the delayed response but I have not been able to reproduce the issue you encountered.  Could you please `set HEROKU_DEBUG=1` and try again and paste the output, the extra output should help me debug.

[2016-03-09 20:25] ransombriggs commented on #1909
@dhiwakarmani Sorry for the delayed feedback, but we just shipped a release that should fix your problem.  Could you please run `heroku update` and verify using `heroku version` that you have version `heroku-cli/4.27.26-693efcb`.

[2016-03-10 04:16] leonkidd commented on #1818
@ransombriggs Thanks.
npm info ok
npm info it worked if it ends with ok
npm info using npm@3.3.10
npm info using node@v5.7.1
npm info lifecycle wrappy@1.0.1~preuninstall: wrappy@1.0.1
npm info lifecycle wrappy@1.0.1~uninstall: wrappy@1.0.1
npm info lifecycle wrappy@1.0.1~postuninstall: wrappy@1.0.1
npm info lifecycle validator@4.8.0~preuninstall: validator@4.8.0
npm info lifecycle validator@4.8.0~

[2016-03-10 05:35] leonkidd commented on #1818
@ransombriggs after i removing the files of %AppDate%/local/heroku and trying again, These show up:
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Users\\Leon\\AppData\\Local\\heroku\\node-v5.7.1-windows-x86\\bin\\node.exe',
1 verbose cli   'C:\\Users\\Leon\\AppData\\Local\\heroku\\node-v5.7.1-windows-x86\\lib\\node_modules\\npm\\cli.js',
1 verbose cli   'install',
1 verbose cli   'herok

[2016-03-10 14:45] ransombriggs commented on #1818
@leonkidd are you behind a network proxy?

[2016-03-11 02:29] leonkidd commented on #1818
@ransombriggs nop

[2016-03-11 15:22] ransombriggs commented on #1818
@leonkidd Windows Firewall or Antivirus software can block connections in this manner, do you have either installed / running?  Also, what version of Windows are you running?  I would like to try and reproduce this locally.

[2016-03-12 08:56] singhakash commented on #1910
It worked now . I am not sure but it might be the Procfile issue.

[2016-03-12 08:56] #1910 closed

[2016-03-14 19:54] matalonga commented on #957
@1eandro @rochapablo  i am having the same problem. How have you solved this problem? How can i change from git bash to git cmd?

Thanks

[2016-03-14 20:56] ransombriggs commented on #957
@matalonga The location of the windows cmd depends on your version of Windows, but usually it is under `Start Menu -> All Programs -> Accessories -> Command Prompt`.  If you open that up and run `heroku login` it should succeed as expected.  This will log you in and save your API token to your filesystem, at which point you can switch back to `git bash` if you wish to.

[2016-03-14 20:59] rochapablo commented on #957
Unfortunately I'm still logged through the cmd, I'm sure that happened for some mistaken that I did installing and uninstalling the git.

Sorry.

[2016-03-16 15:07] frederick036 commented on #1837
@noortotah I have the exact same problem using the Postgres database when I tried to upgrade. What do you mean by "colors"?

[2016-03-16 23:26] legarland commented on #1869
I created a package.json in the root directory and used a postinstall script to change directories and run the npm install:
`"start":
    {
        "postinstall": "cd server && npm install"
    }`

[2016-03-17 14:16] ransombriggs commented on #1837
@frederick036 The colors refers to the config vars that are used for attached databases like `HEROKU_POSTGRESQL_WHITE`.  If you use config vars to specify one the heroku database urls, then the copy should work.

[2016-03-17 15:04] frederick036 commented on #1837
@ransombriggs Thanks, it works!

[2016-03-17 20:14] rwz opened #1914 "Procuring 2fa authorization BEFORE parsing arguments"

[2016-03-18 14:30] #1914 closed

[2016-03-22 08:18] JimmyRare commented on #1854
I have the same error using cmd.exe. Any ideas?

[2016-03-23 03:18] davidmesaros commented on #1690
Removing ~/.heroku fixed it for me as well.

[2016-03-23 18:09] gpolyn opened #1917 "CLI issue similar to #1057, but on OS X with rvm"
Issue similar to [#1057](https://github.com/heroku/heroku/issues/1057), but on OS X (10.10.5) with rvm.

[code]
Attempted remedy in ruby-2.1.2 was to add netrc to global gemset:

[code]

I acknowledge this may be more an rvm than heroku issue.

[2016-03-23 18:35] gpolyn commented on #1917
...sorry, think this is too arcane to pursue and likely the result of the involvement of the "heroku" gem in my Gemfile.

[2016-03-23 18:35] #1917 closed

[2016-03-23 20:33] dickeyxxx commented on #1721
this is fixed now

[2016-03-23 20:33] #1721 closed

[2016-03-24 23:27] gkop commented on #1892
Just wanted to chime in that I received this error today, just once. Haven't been able to replicate. On Comcast residential internet in San Francisco, no proxy. Unfortunately I closed the terminal buffer so I can't paste the altnames given.

[2016-03-25 16:17] hollsk commented on #1892
I'm also getting very similar SSL errors today:

[code]

I'm not running a proxy either. Based in the UK, using EE broadband (unlike OP, no problems accessing heroku.com though).

[2016-03-25 17:36] dickeyxxx commented on #1892
you are running an ancient version

[2016-03-30 14:55] dadicool commented on #1856
+1

[2016-03-30 16:16] ransombriggs commented on #1856
@evictor Right now the exit code from the command is passed back without the `--exit-code` flag.  Are you wanting this for consistency, where the command would accept the flag but do nothing different?  Or is there something else you expect to happen?
[code]

[2016-03-30 16:39] ransombriggs commented on #1856
@evictor Did not notice that your request was fairly old, the command has changed since then and it should be exiting with the proper code now.

@evictor Could you make sure you have `heroku-local@5.0.1` using `heroku version` and then check to see if the exit code you see from `heroku local:run` matches what you expect?  If you are not up to date, you can run `heroku update` to bring everything u

[2016-03-31 13:36] jijo1994 opened #1920 "Installing Heroku Toolbeit v4 - Permission Denied"
After not having accessed heroku for a while I tried to change the running dynos of my app using 'heroku ps:scale' but I got this error  Permission denied: @ rb_sysopen  - C:\Username\AppData\Local/heroku/heroku-cli.exe (Errno:EACCES)

[2016-03-31 15:09] mikehale commented on #1475
:+1: for switching to the v3 endpoint

[2016-03-31 15:11] mikehale opened #1921 "labs:enable, labs:disable only filter on name"
Currently the list of Features must be unique since the CLI just looks for the first thing by name:
https://github.com/heroku/heroku/blob/master/lib/heroku/command/labs.rb#L113

In order to support a future where we can have say a user feature named foo and an app feature named foo, the CLI will need to look for features by name *and* kind.

[2016-03-31 16:10] ransombriggs commented on #1921
my thought was that we would keep it backwards compatible and rather than falling back on 404, we would query both, detect duplicates, and force a flag to pick between the two

[2016-03-31 17:26] dickeyxxx commented on #1921
Ugh why you gotta make my life hard @mikehale :)

[2016-03-31 17:27] dickeyxxx commented on #1921
Btw that is not the code, this is the code https://github.com/heroku/heroku-apps/tree/master/commands/labs

[2016-03-31 17:29] mikehale commented on #1921
@dickeyxxx so actually I didn't realize that this feature is now handled by the node code in heroku-apps. @ransombriggs pointed me to `plugins:commands`, as I was confused by a simple grep of `~/.heroku`.

Also this is not an urgent thing, but something that would be nice to support in the future.

[2016-03-31 17:37] dickeyxxx commented on #1921
there is also `heroku which`

[2016-03-31 20:37] dickeyxxx commented on #1475
that's already been done

[2016-03-31 20:37] #1475 closed

[2016-04-02 18:16] Gabri3l opened #1922 "Any heroku command throws a 'client internal error' on Windows 10"
I just installed the Toolbelt on windows 10. Then I ran a heroku command from the terminal and I always get the same error:

`heroku-cli: Installing Toolbelt v4... !    Heroku client internal error.
 !    Search for help at: https://help.heroku.com
 !    Or report a bug at: https://github.com/heroku/heroku/issues/new

    Error:       Permission denied @ rb_sysopen - C:\Users\{{UserName}}\AppData\

[2016-04-02 18:27] Gabri3l commented on #1920
I am having the same issue, what OS are you using ?

[2016-04-03 05:53] majianxiong commented on #983
How to solve the

[2016-04-03 12:10] ghickman opened #1923 "`heroku upgrade` exits with 1 when there are no plugins to upgrade"
Running `heroku upgrade` with nothing to upgrade, like so:

[code]

exists with a return code of 1.

Given no error has occurred, this seems like a bug to me.

[2016-04-04 15:46] ransombriggs commented on #1920
@jijo1994 What is the output of `icacls C:\Username\AppData\Local/heroku`?  It appears that the toolbelt was able to create a directory for the updated executable but was not able to actually create the executable.  This could be due to either a permissions problem, or possibly a restriction on you `%LOCALAPPDATA%` directory.  Do you know if your sysadmin has any such restrictions?

[2016-04-04 16:46] vickytnz commented on #1922
I've had the same issue on Windows 10. Have lost about 2 hrs grappling with this. Installed, uninstalled, deleted files, changed admin access ...

[2016-04-04 18:03] vickytnz commented on #1920
I've been having the same issue - I had heroku installed but uninstalled it (maybe was the outage) and now can't install it again :( Think it's a repetition of #1922 - incredibly annoying. File doesn't even exist in Appdata. I changed the permissions on the director (or tried), uninstalled/reinstalled ... no avail. Again, had it working last week!

[2016-04-04 19:53] Gabri3l commented on #1920
Same as @vickytnz exactly.

[2016-04-05 15:28] ransombriggs commented on #1920
@jijo1994 @Gabri3l @vickytnz Are any of you running anti-virus software?  I had another user with the exact same issue point out that his anti-virus software quarantined `C:\Username\AppData\Local/heroku/heroku-cli.exe`.  I have tested with my version of Norton Security but could not replicate.  If you are running something else, I would like to try and replicate and then take the appropriate acti

[2016-04-05 15:30] ransombriggs commented on #1922
Closing this in favor of https://github.com/heroku/heroku/issues/1920 as this appears to be a duplicate.

[2016-04-05 15:30] #1922 closed

[2016-04-05 15:32] ransombriggs commented on #1920
Adding full debugging output to this issue as well, for future people who may encounter this error.
[code]

[2016-04-05 16:51] ransombriggs commented on #1920
The other ticket I am working on has Bit Defender installed which I am installing now to try and replicate.

[2016-04-05 17:20] ransombriggs commented on #1920
I was able to replicate, contacting Bit Defender to determine the reason this is flagged.

[2016-04-05 17:23] Gabri3l commented on #1920
Oh sorry I am the same guy from the other ticket =D. Thanks for taking the time to look into this!

[2016-04-05 17:50] ransombriggs commented on #1920
I submitted the executable for analysis and the response email said it could take up to 72 hours to be included, will look into manual exclusion instructions for those who want them.

[2016-04-05 18:13] ransombriggs commented on #1920
I was able to make things run by creating an exclusion for `C:\Users\{{UserName}}\AppData\Local\heroku\` using the instructions here http://www.bitdefender.com/support/how-to-add-exclusions-(exceptions)-in-bitdefender-2016-1467.html and then restarting and trying again.  I know this is not a good solution, just offering in case someone needs to do something critical right now and needs an immediat

[2016-04-05 18:46] Gabri3l commented on #1920
It's not giving me any error now! I am currently updating so hopefully everything will work just fine. Thanks again, I added an exception for the time being because I had a critical deadline.

Thanks for helping out @ransombriggs

[2016-04-05 20:11] ransombriggs commented on #1854
@ryanwalters Are you running BitDefender antivirus software, a user encountered an error like this who had BitDefender installed, which started blocking this executable.

[2016-04-06 16:55] jijo1994 commented on #1920
@ransombriggs I am using Windows 7 with BitDefender as an Antivirus but I managed to find workaround for this issue by modifying the jsplugin.rb in the Heroku installation folder. Basically what I did is change the output folder for the new version that is downloaded, then moving the file to it's default location (AppData/heroku) and running it, which install all the necessary files. The last thin

[2016-04-07 06:47] rneha725 commented on #1758
Delhi, India
Same error:

Error:       connect timeout reached (Excon::Errors::Timeout)
Command:     heroku login
HTTP Proxy:  http://172.6.1.1:8080
HTTPS Proxy: https://172.6.1.1:8080
Version:     heroku/toolbelt/3.42.45 (i386-mingw32) ruby/2.1.7

[2016-04-07 07:01] saadbinakhlaq commented on #1758
@rneha725 did you increate the timeout in jsplugin.rb
[code]

[2016-04-07 15:08] coleccionista777 opened #1925 "Problem to the symfony2.7 upload on heroku"
Hello friends, I need your help with a problem to the symfony2.7 upload on heroku, I entered the command “git push heroku master” this is the error :
https://drive.google.com/file/d/0BztswIqNuWoTQjA4enJzelM0dlU/view
Pd: I do not use Doctrine, however I'm connected directly to the BD
I hope you can help me.
Please excuse my limited English.

[2016-04-07 17:59] jinshiq commented on #1920
I have the same issue on my windows 7 PC. I don't use  bitdefender. I also notice that there is no such file C:\Users\Owner\AppData\Local/heroku/heroku-cli.exe.

Does anyone know how to fix this issue?

Please see the error details as below.

$ heroku version
Heroku CLI submits usage information back to Heroku. If you would like to disabl
e this, set `skip_analytics: true` in c:/Users/Owner/.herok

[2016-04-07 18:08] Gabri3l commented on #1920
@jinshiq It seems that this problem is still related to some antivirus blocking, it might not be applicable to just Bitdefender. So you might wanna check if your antivirus is blocking Heroku access to that folder.

[2016-04-08 00:15] leonkidd commented on #1818
@ransombriggs Firewall was shutdown and My OS system is windows 7 Enterprise. It just work fine right now, but few minutes age it was not. I have no idea that I just try again again and again....
Thanks a lot !@ransombriggs

`ist of available stacks","needsApp":true,"needsAuth":true},{"topic":"stack","com
mand":"set","needsApp":true,"needsAuth":true,"help":"\nExample:\n\n  $ heroku st
ack:set ceda

[2016-04-08 01:55] dickeyxxx commented on #1925
can you submit a support ticket? this is a project for the CLI

[2016-04-08 01:55] #1925 closed

[2016-04-08 20:39] ransombriggs commented on #1758
@rneha725 If increasing the timeout does not help, you may want to have your sysadmin check your proxy logs, the proxy server is another place at which this could happen.

[2016-04-08 21:39] dickeyxxx commented on #1923
this is now resolved

[2016-04-08 21:39] #1923 closed

[2016-04-08 22:02] ransombriggs commented on #1818
@leonkidd sorry, your last message was not totally clear, is everything working for you right now?

[2016-04-09 04:13] grobertson commented on #1920
Here's how to add heroku-cli.exe to the exclusions list in BitDefender. This fixed the issue on my own machine running Windows 10 Build 14316.

1. Open Bitdefender from the start menu or the system tray.
2. Click "Modules" at the bottom
3. Under "Protection" click the gear icon next to the heading "Antivirus"
4. Select "Exclusions"
5. Click "Excluded files and folders"
6. Click "Add"
7. Fill in th

[2016-04-10 00:01] brookinc commented on #1690
This just happened to me, seemingly spontaneously? Yesterday, `heroku local` worked fine; today, it's nothing but:
[code]

Unfortunately, neither @murkey's solution (`heroku plugins:uninstall heroku-local` followed by `heroku plugins`) nor @reggi's (`rm -rf /usr/local/heroku` and `rm -rf ~/.heroku`) fixed it for me. I even tried [uninstalling](https://devcenter.heroku.com/articles/heroku-command#u

[2016-04-10 00:04] DavidVII commented on #1690
@brookinc I suddenly started getting the same errors `Error: Cannot find module`

None of the solutions described here worked :sob:

[2016-04-10 00:17] dickeyxxx commented on #1690
I shipped a change earlier to make plugin loading happen in parallel, that was probably causing this. I rolled it back, so can you try deleting `~/.heroku/node_modules` and trying again?

[2016-04-10 00:24] DavidVII commented on #1690
Hi @dickeyxxx, after your comment I uninstalled everything and tried to re-install... no dice.

here's the output:

[code]

[2016-04-10 00:28] traducer commented on #1690
I am having the same problems as @brookinc and @DavidVII. Just started happening today after I ran

[code]

I tried reinstalling the CLI, rm -rf ~/.heroku and still nothing, it seems to fail installing core plugins

[2016-04-10 00:30] dickeyxxx commented on #1690
can you show me the output of `heroku version`?

[2016-04-10 00:31] brookinc commented on #1690
Hi @dickeyxxx -- thanks for the reply. I ran `rm -rf ~/.heroku/node_modules`, but running `heroku local` still tries to install the heroku-cli core plugins, which still gives me the same error spew.

Even `heroku version` first tries to install the core plugins, which throws the same error spew.

[2016-04-10 00:32] dickeyxxx commented on #1690
OK I'm going to roll back the changes I pushed out earlier entirely

[2016-04-10 00:32] traducer commented on #1690
@dickeyxxx, no heroku commands in the CL are working, it just tries to install core plugins everytime you throw it a heroku command

[2016-04-10 00:34] dickeyxxx commented on #1690
it's rolling back now, if you update to 4.29.4-8867943 it should be fixed

[2016-04-10 00:41] traducer commented on #1690
@dickeyxxx,

I just reinstalled the toolbelt to make sure, everything is working now.

Thanks a bunch!

Also, just wanted to point out, before the rollback heroku-toolbelt after installation was failing to read the config.json in ~/.heroku/config.json, I'm not sure if that was part of the problem or not as I did not get that error this time around.

[2016-04-10 00:44] DavidVII commented on #1690
Awesome! Thank you, @dickeyxxx! All seems to be working well again.

[2016-04-10 00:45] dickeyxxx commented on #1690
@traducer I noticed that too and put a patch in for that. Sorry for the trouble here!

[2016-04-10 00:45] brookinc commented on #1690
When I [uninstall](https://devcenter.heroku.com/articles/heroku-command#uninstalling-the-heroku-cli) (`sudo apt-get remove heroku-toolbelt`) and then [reinstall](https://toolbelt.heroku.com/debian) (`wget -O- https://toolbelt.heroku.com/install-ubuntu.sh | sh`), it gives me version `3.42.50` (earlier today was `3.42.49`, I think?). However, the issue is still happening with v3.42.50 for me. Can I

[2016-04-10 00:45] dickeyxxx commented on #1690
@brookinc it's a little confusing, there is a v3 and v4 branch of the CLI, you should have both of them.

[2016-04-10 00:50] brookinc commented on #1690
Hmm, okay. Should the uninstall and reinstall commands referenced above do the trick, then? I'm not sure what else to try.

[2016-04-10 00:53] dickeyxxx commented on #1690
delete `~/.heroku` if you're still having trouble

[2016-04-10 00:53] dickeyxxx commented on #1690
btw do any of you happen to have `NODE_PATH` set?

[2016-04-10 00:54] DavidVII commented on #1690
@dickeyxxx I do.

[2016-04-10 00:57] brookinc commented on #1690
Thanks, `rm -rf ~/.heroku` did the trick!

I also have NODE_PATH set:
[code]

[2016-04-10 00:57] dickeyxxx commented on #1690
yeah I'm pretty sure `NODE_PATH` is where the problem came from. I wasn't correctly overwriting it.

[2016-04-11 16:52] Buchepalli1 opened #1928 "Heroku connect toolbet"
Not able login heroku from command line

C:\Program Files (x86)\Heroku>heroku
heroku-cli: Installing Toolbelt v4... !    Heroku client internal error.
 !    Search for help at: https://help.heroku.com
 !    Or report a bug at: https://github.com/heroku/heroku/issues/new

    Error:       No such file or directory @ chmod_internal - C:\Users\User\AppD
ata\Local/heroku/heroku-cli.exe (Errno::ENOENT)

[2016-04-11 19:35] denniscollective opened #1929 "heroku redis:* commands don't work"
Hey, the docs say to use ```heroku redis:info```,

I just did: ```heroku addons:upgrade heroku-redis heroku-redis:premium-0```

and it told me to do ```heroku redis:wait``` which yields:

[code]

This could be because I installed heroku via gem install heroku, rather than the heroku toolbelt, or your docs are out of date.

I'm on the most recent heroku gem FWIW

[2016-04-12 16:57] agarwal-mayank opened #1930 "Getting error while invoking heroku login"
Hi,

I installed heroku yesterday and it was working fine. But when I tried to rerun it today, it started giving me error. I unistalled and reinstalled several times but to no avail.

This is the error I am getting:
[code]

[2016-04-13 02:22] ParkerJedd opened #1931 "Heroku now spewing on command line. Did not previously with same command."
_**on Mac OSX 10.11.4**_
**_running command:_**
heroku run rake this:that[blah, bling]
**results in spew at command line like this:**
running rake this:that[blah, bling]
running rake this:that[blah, bling]
running rake this:that[blah, bling]
running rake this:that[blah, bling]
**... n = tldnr (name screens later)**
running rake this:that[blah, bling]

on environment... up, run.4873
Connecting to d

[2016-04-13 20:51] #1931 closed

[2016-04-13 22:19] evictor commented on #1856
Yes, I believe it is fixed now. Thanks!

On Wed, Mar 30, 2016 at 9:39 AM Ransom Briggs <notifications@github.com>
wrote:

[2016-04-14 01:54] halilim commented on #1709
I've just got 2.1 MB worth of identifiers:

[code]
(installed a few minutes ago from https://devcenter.heroku.com/toolbelt-downloads/osx)

[2016-04-14 02:33] dickeyxxx commented on #1709
@heroku/add-ons

[2016-04-14 03:14] Hareesh007 opened #1932 "Heroku client internal error."
I am new To Heroku ,first time i try to install Heroku toolbelt and after that run the command heroku login i am getting this error
 heroku -version
 !    Heroku client internal error.
 !    Search for help at: https://help.heroku.com
 !    Or report a bug at: https://github.com/heroku/heroku/issues/new

    Error:       undefined method `[]' for nil:NilClass (NoMethodError)
    Command:     herok

[2016-04-14 03:14] cdwort commented on #1709
Hey @jon-ga @halilim ,

Thanks for bringing this to our attention. We found a recently introduced bug in the API behind this command. We expect a fix to be released in the next day, and when that happens, the command will be fixed for you without any updates to the CLI.

In the mean time, running this command for an individual app should work as normal, e.g. `heroku addons:open newrelic --app my-a

[2016-04-14 15:59] dickeyxxx commented on #1709
https://github.com/heroku/heroku-cli/issues/254

[2016-04-15 02:22] bjeanes commented on #1709
The API issue has been fixed.

[2016-04-16 23:51] dickeyxxx commented on #1929
it's because you're missing the heroku-redis plugin. I put an issue in to help make this more clear. https://github.com/heroku/heroku-cli/issues/253

[2016-04-17 14:38] xni88 commented on #1920
heroku-cli: Installing Toolbelt v4... !    Heroku client internal error.
 !    Search for help at: https://help.heroku.com
 !    Or report a bug at: https://github.com/heroku/heroku/issues/new

    Error:       Permission denied @ rb_sysopen - C:\Users\Shelly\AppData\Local/heroku/heroku-cli.exe (Errno::EACCES)
    Command:     heroku login
    Version:     heroku/toolbelt/3.42.45 (i386-mingw32) ru

[2016-04-17 14:45] dickeyxxx commented on #1920
I think it's a BitDefender issue, @ransombriggs knows more

[2016-04-17 14:46] dickeyxxx commented on #1920
@xni88 did you try @grobertson's steps? Are you using BitDefender?

[2016-04-18 01:39] jinshiq commented on #1920
@Gabri3l You are correct. That is an issue related to some antivirus blocking. I am using another antivirus tool, not Bitdefender. After I added Heroku as trusted application, the error disappeared and all heroku command worked.

[2016-04-18 12:42] Madsvj opened #1934 "Updating... ! Heroku client internal error - Update hash signature mismatch"
Hi.

I'm running heroku on windows and while updating heroku

I get this error:
[code]

The following is my **/.heroku/error.log**

[code]

Googling suggests using a proxy server, but that didn't seem to work for me.
And I have no problems installing addons, or similar connections based problems.

** Windows version:

[2016-04-18 16:02] ransombriggs commented on #1928
@Buchepalli1 Sorry for the delayed response, but are you running any antivirus software?  We recently ran into a problem with users running BitDefender antivirus software who saw an issue much like this.  I am working on resolving things with BitDefender, but if you would like help setting up exclusion rules while I wait for this to be resolved you can following the directions here https://github.

[2016-04-18 16:21] ransombriggs commented on #1930
@agarwal-mayank Sorry for the delayed response, but are you still getting this error?  This may have been due to a temporary network issue.

[2016-04-18 16:23] #1856 closed

[2016-04-18 19:12] ransombriggs commented on #1920
@jinshiq What antivirus software are you using?

[2016-04-18 22:39] jinshiq commented on #1920
@ransombriggs The antivirus software is called 360.

[2016-04-18 22:56] xni88 commented on #1920
mine is 360 too.

Date: Mon, 18 Apr 2016 15:39:21 -0700
From: notifications@github.com
To: heroku@noreply.github.com
CC: xnglnni@hotmail.com
Subject: Re: [heroku/heroku] Installing Heroku Toolbeit v4 - Permission Denied (#1920)

@ransombriggs The antivirus software is called 360.

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub

[2016-04-19 02:10] agarwal-mayank commented on #1930
Hi,

The error got resolved. It was my stupid antivirus. It kept on blocking the heroku-cli file.
I saw it in one of the posts, someone else was having the same issue.

Got resolved now.

Thanks,
Mayank

[2016-04-19 02:10] #1930 closed

[2016-04-19 20:40] ransombriggs commented on #1934
@Madsvj Could you run the update command as follows to enable debugging for me?
[code]

[2016-04-19 21:24] ransombriggs commented on #1920
@jinshiq @xni88 thanks for your responses, I was able to replicate the issue you encountered with 360.  If you wanted a temporary fix workaround you can add the heroku folder to your `Trust List`.  If you open up 360, there is a three line icon in the menubar that you can click on and under that follow Settings and Trust List.  Then add `AppData\Local\heroku` as a trusted directory and things will

[2016-04-20 12:21] Madsvj commented on #1934
Of course @ransombriggs

Here is what it returns:

[code]
hope that helps you

[2016-04-20 14:37] ransombriggs commented on #1934
@Madsvj could you re-install the toolbelt from https://toolbelt.heroku.com/ ?  I failed to replicate your problem on my local machine, but re-installing should get you back to a good install.

[2016-04-20 21:30] keiko713 opened #1935 "ensure_remote_db_empty returns incorrect result if LANG is not "en_US.UTF-8""
https://github.com/heroku/heroku/blob/master/lib/heroku/helpers/pg_dump_restore.rb#L60

[code]

If the client's laptop has a different LANG setting than `en_US.UTF-8`, even though the database is empty, it raises the error "Remote database is not empty". We should probably change it to some regex.

[2016-04-21 06:57] Madsvj commented on #1934
@ransombriggs just tried that.

And I still get:
[code]

:/

[2016-04-21 18:20] ransombriggs commented on #1934
@Madsvj I was digging into the code this morning and found a bug where we were accidentally suppressing a non-200 error code in the updater code.  We shipped an update to the installer so that the error will propagate properly and it should provide more insight into why you are receiving this error.  Sorry for the inconvenience, but could you please download the installer again?  This will not fix

[2016-04-21 21:56] randyleighton opened #1937 "Can not remove PG:Backups schedule if original database deleted"
I have tried to remove pg:backups schedules on many apps where the database addon was destroyed but the schedule was not removed first. The schedule

**I have an app with the following PG database:**
heroku pg -a appname
=== HEROKU_POSTGRESQL_PURPLE_URL
Plan:        Hobby-dev
Status:      Available
...

**So the only database addon is the PURPLE. Lets take a look at the backups schedules:**

herok

[2016-04-21 22:09] dickeyxxx commented on #1921
@mikehale this somewhat involves this issue: https://github.com/heroku/cli/issues/259.

Essentially I plan to get rid of this command and replace it with `apps:features/labs` and `user:features/labs`

[2016-04-23 00:38] cmbishop commented on #1920
I'm encountering the same issue: `Permission denied @ rb_sysopen - C:\Users\OfficeMax\AppData\Local/heroku/heroku-cli.exe` and I'm pretty sure Ad-Aware is causing it, like some of the other antivirus software. Any workaround that anyone knows about? I poked around the settings but couldn't find one.

[2016-04-25 07:54] Madsvj commented on #1934
@ransombriggs - just came back from a short vacation.
I downloaded the new installer and I now get:

[code]

It seems like something is very weird here. It might be a security thing.

To answer your other question:
I'm using heroku from a big coorperation, so yes I'm using antivirus.
We use **symantic endpoint protection**

[2016-04-25 20:40] esegura commented on #1854
FWIW, this is exactly what I just run into. Bitdefender botched an update (reported 'Gen:Variant.Midie.8641') and I had to reinstall from scratch, since I was getting 'panic' on further updates. Even reinstalling failed at first, I had to add an exception for heroku-cli.exe.
Thanks Bitdefender!

[2016-04-27 21:52] pazams opened #1938 "Cannot install core-plugins"
Trying to `heroku login` results in  toolbelt update, but the update fails on a checksum issue:
[code]
This issue is similar to https://github.com/npm/npm/issues/12457

[2016-04-27 22:20] dickeyxxx commented on #1938
Mind trying out the beta that doesn't require npm? Run 'heroku update beta'
On Wed, Apr 27, 2016 at 2:52 PM pazams <notifications@github.com> wrote:

[2016-04-28 09:38] pazams commented on #1938
Beta works.
though I find it odd npm fails only me?! I use npm daily to develop and also publish packages.
Thanks.

[2016-04-28 10:12] Buchepalli1 commented on #1928
Thank you @ransombriggs  , it is working fine now.

[2016-04-28 18:41] dickeyxxx commented on #1938
It seems to fail for a lot of people, I don't know why. I've tried to fix it, but since it continues to fail for some users we decided to drop it.

[2016-04-28 18:41] #1938 closed

[2016-04-28 19:40] Ahmed-Badawy opened #1939 "Login Error"
Hello! I keep having this error. first time to use ur services.
i'm tring to create upload nodejs app to ur server. my machine: windows 10 using heroku toolbelt
Issue:-

C:\Users\(username)\Downloads\Heroku [master]>    heroku login
heroku-cli: Installing Toolbelt v4... !    Heroku client internal error.
 !    Search for help at: https://help.heroku.com
 !    Or report a bug at: https://github.com

[2016-04-29 20:15] ransombriggs commented on #1939
@Ahmed-Badawy Could you please try again, that is usually a temporary DNS issue.

[2016-04-30 15:35] Ahmed-Badawy commented on #1939
thanks! it's working now.
temporary DNS issue as you said.

please try to figure this problem. it leaves users with very bad first impression.
i'm closing this issue as it's solved.

[2016-04-30 15:35] #1939 closed

[2016-05-01 07:55] LotosikRa opened #1940 "Install - error"
Today I'm trying to instal heroku toolkit and have some problems:
![ice_screenshot_20160501-104632](https://cloud.githubusercontent.com/assets/18006909/14940727/9bebbef6-0f8a-11e6-8e27-297a8809df09.png)
![ice_screenshot_20160501-104808](https://cloud.githubusercontent.com/assets/18006909/14940729/9e44a29e-0f8a-11e6-918b-95b5d4764950.png)
System:
   CPU - Intel(R) Core(TM)2 CPU  6400 @ 2.13GHz 2.13

[2016-05-01 17:01] epicsharp commented on #1920
I'm getting this issue using Vipre Internet Security 2016 on Windows 10. Vipre thinks it is a virus and then goes on to quarantine it.
[code]

[2016-05-02 06:52] jmeas opened #1942 "Untrimmed logs"
There should be an option to turn off log trimming when running `heroku local web`. That should probably even be the default.

[v2 of node-foreman](https://github.com/strongloop/node-foreman/blob/master/CHANGES.md#2016-04-30-version-200-1), for instance, now has trimming disabled by default.

[2016-05-02 18:50] tang1000 opened #1944 "How do I change the login directory?"
When I enter my id and password, it says
"open Y:\_netrc: The system cannot find the path specified"

I don't have Y drive. How could I change the path?

[2016-05-02 19:11] #1944 closed

[2016-05-02 21:26] ransombriggs commented on #1944
@tang1000 Did you figure out the error?

[2016-05-02 21:29] tang1000 commented on #1944
Yes, i did! Thank you

[2016-05-02 21:43] ransombriggs commented on #1940
@LotosikRa Were you able to run `heroku login` successfully in this step?  https://devcenter.heroku.com/articles/getting-started-with-python#set-up

[2016-05-03 08:51] saurabhmahajan0077 opened #1945 "Installed toolbelt but on executing command heroku login , gives the following error"
C:\Users\saurabh.m>heroku login
heroku-cli: Installing Toolbelt v4... !    Heroku client internal error.
 !    Search for help at: https://help.heroku.com
 !    Or report a bug at: https://github.com/heroku/heroku/issues/new

    Error:       An established connection was aborted by the software in your host machine. - SSL_connect (Errno::ECONNABORTED) (Excon::Errors::SocketError)
    Command:

[2016-05-03 09:08] #1945 closed

[2016-05-03 11:23] alirezacom81 commented on #1920
Hi,

I have a problem with running the heroku-cli.exe, I get the below error upon running heroku --version or heroku login:

C:\WINDOWS\system32>heroku --version
heroku-cli: Installing Toolbelt v4... !    Heroku client internal error.
 !    Search for help at: https://help.heroku.com
 !    Or report a bug at: https://github.com/heroku/heroku/issues/new

    Error:       Permission denied @ rb_syso

[2016-05-03 15:53] #1901 closed

[2016-05-03 18:38] dickeyxxx commented on #1942
yeah I submitted the PR to do that. It's out now, give it a shot.

[2016-05-03 18:58] zaverichintan commented on #1636
I am not getting any errors log just
C:\Users\Chintan>heroku
panic:

[2016-05-03 18:59] jmeas commented on #1942
Oh awesome! Thanks @dickeyxxx ! I'll give it a try tonight. :v:

I suppose I'll go ahead and close this issue.

[2016-05-03 18:59] #1942 closed

[2016-05-03 19:03] ruggeri opened #1946 "When not logged in, pg:backups public-url gives cryptic error"
When not logged in, if I try to fetch the most recent backup, the following happens:

[code]

Logging in fixes this problem. It would be nice if the command instructed the user to login.

[2016-05-04 01:19] lgmautner opened #1947 "internal error from "heroku config""
I'm getting the following error when calling `heroku config:get ...` as of ~5:30PM PST:

Heroku CLI submits usage information back to Heroku. If you would like to disable this, set `skip_analytics: true` in /home/ubuntu/.heroku/config.json
update in progress
update in progress
 !    Heroku client internal error.
 !    Search for help at: https://help.heroku.com
 !    Or report a bug at: https://gi

[2016-05-04 01:25] dickeyxxx commented on #1947
it says it's updating, just be patient

[2016-05-04 01:25] #1947 closed

[2016-05-04 01:36] lgmautner commented on #1947
@dickeyxxx it says it's updating, but then I see a ruby error regarding "undefined method `[]' for nil:NilClass (NoMethodError)"

Was closing this issue premature? I'm re-running my build so I can check the logs

[2016-05-04 18:32] ransombriggs commented on #1901
@jooshbzm sorry this fell through the cracks, but a release has just been sent out so `heroku update` and verify that you have `heroku-toolbelt/3.43.1` and this should no longer occur

[2016-05-04 18:42] jooshbzm commented on #1901
No problem @ransombriggs, I'll check this and confirm as soon as I get a chance. Thanks for fixing!

[2016-05-05 09:27] Nivg opened #1949 "panic message when auto update toolbelt"
Hello,

From yesterday when trying to use any toolbelt command on windows, I am getting the following message:

1. Happens only once:

 host is known.

goroutine 1 [running]:
panic(0x6e0920, 0x10f7ba80)
        /usr/local/Cellar/go/1.6.2/libexec/src/runtime/panic.go:481 +0x326
main.must(0x234508, 0x10f7ba80)
        /Users/jdickey/src/github.com/heroku/cli/main.go:247 +0x44
main.getUpdateManifest(

[2016-05-05 15:52] ransombriggs commented on #1934
@Madsvj Sorry for the delay in response, but are you able to create exceptions ?  We are currently working on getting this fixed with the anti-virus providers, but it has been slow going.

[2016-05-05 21:56] #1929 closed

[2016-05-05 21:57] dickeyxxx commented on #1932
are you still getting this error?

[2016-05-05 21:57] #1928 closed

[2016-05-05 21:58] #1877 closed

[2016-05-05 22:07] dickeyxxx commented on #1949
The first one is just because it wasn't able to connect to the internet I think. The second one though, I'm not sure but I think a user had this in an older version. Try deleting `%LOCALAPPDATA%\heroku` (assuming this is on windows, you didn't say but it looks like it might be)

[2016-05-08 12:23] Nivg commented on #1949
Yes it's on window 8.1

I have already deleted the local folder and still got the same error.
I will try to download the newest version manually and see if it's helps bypassing this issue.

[2016-05-09 08:19] stefan-kolb opened #1951 "ps:stop and ps:kill emit type error"
Running `heroku ps:stop scheduler.3397` emits:

[code]

This worked in previous versions of the CLI.

[2016-05-09 11:33] Madsvj commented on #1934
@ransombriggs I can only imagine how slow that kind of process is.

I'm not sure whether I can, and if how.
But I can probably get some help on that internally.

I'm guessing it is just `cli-assets.heroku.com` that has to be marked as safe?

[2016-05-10 09:36] stefan-kolb commented on #1951
Looks like this is some incompatibility issue on my system. After reinstalling Git it seems to work again, strange...

[2016-05-10 09:36] #1951 closed

[2016-05-10 17:40] ransombriggs opened #1952 "Fix plugins help to reference both name / url as parameter"
[code]

[2016-05-11 05:42] strobejb opened #1953 "Install problems with heroku"
I'm getting a lot of different errors when trying to install heroku. I've done a completely clean install (.heroku directory, and appdata\local\heroku deleted before install). This is on Windows 10, with Ruby installed in C:\Ruby\Ruby200

Please see below:

`heroku-cli: Installing CLI... 16.19MB/16.19MB
 !    read C:\Ruby\Ruby200: The handle is invalid.
 !    read C:\Ruby\Ruby200: The handle is in

[2016-05-11 17:41] dickeyxxx commented on #1953
It shouldn't be using your local ruby but the one provided with the CLI. Are you installing from toolbelt.heroku.com?

[2016-05-11 17:41] dickeyxxx commented on #1953
Also make sure `LOCALAPPDATA` is set to something valid

[2016-05-11 18:49] strobejb commented on #1953
Hi,
Thanks for responding

Yes I'm installing from toolbelt.heroku.com

I don't have an environment variable LOCALAPPDATA - I set that accordingly and did a clean install but  I still get the same error

[2016-05-11 21:43] dickeyxxx commented on #1953
I think your ruby is messed up somehow. Maybe try reinstalling that? Or maybe look at the `PATH`, and make it so the ruby from the toolbelt is used before the local ruby.

Also, what shell are you using?

[2016-05-12 05:26] strobejb commented on #1953
I removed my Ruby directory, but whenever I run 'heroku' I still get this:

!    Error opening C:\Ruby\
 !    Error opening C:\Ruby\
 !    Error opening C:\Ruby\
 !    Error opening C:\Ruby\
 !    Error opening C:\Ruby\
 !    Error opening C:\Ruby\

That directory doesn't exist now, but heroku is still looking for it? Strange, because I never saw this error before on prior versions of the heroku-c

[2016-05-12 14:34] dickeyxxx commented on #1953
Are there any environment variables with C:\Ruby\ in them? We don't use that path at all.

[2016-05-13 05:22] strobejb commented on #1953
I have Ruby in my path (which isn't the problem)
C:\Ruby\Ruby200\bin

The culprits are:

SSL_CERT_DIR=C:\Ruby\
SSL_CERT_FILE=C:\Ruby\cacert.pem

Removing these gets rid of the "!    Error opening C:\Ruby\" message, but I still get:

`Loading... !!!
 !    Unauthorized.
events.js:160
      throw er; // Unhandled 'error' event
      ^

Error: spawn heroku ENOENT
    at exports._errnoException (util.j

[2016-05-14 07:56] leonkidd commented on #1818
@ransombriggs Yes, It was working after I try several times. But I still don't find the cause.

[2016-05-14 12:50] gurbaj opened #1954 "getaddrinfo: Temporary failure in name resolution (SocketError) (Excon::Errors::SocketError)"

[2016-05-17 21:21] ransombriggs commented on #1954
@gurbaj Sorry for the late reply, but this is usually a client side temporary DNS error, could you please try again?

[2016-05-18 01:55] gaoqiuling opened #1955 "windows 10 using heroku toolbelt SocketError"
!    Heroku client internal error.
 !    Search for help at: https://help.heroku.com
 !    Or report a bug at: https://github.com/heroku/heroku/issues/new

    Error:       getaddrinfo: ��֪��������������  (SocketError) (Excon::Errors::SocketError)
    Command:     heroku create
    Version:     heroku/toolbelt/3.43.2 (i386-mingw32) ruby/2.1.7

    More information in C:/Users/gaoqiuling/.heroku/er

[2016-05-18 15:18] dickeyxxx commented on #1953
does `heroku auth:whoami` work?

[2016-05-18 19:39] strobejb commented on #1953
Yes that's returning the username/email I setup for Git

[2016-05-18 19:40] dickeyxxx commented on #1953
can you run it with `HEROKU_DEBUG=1 HEROKU_DEBUG_HEADERS=1` and email it to me? jeff@heroku.com

[2016-05-20 07:20] KochetkovVictor commented on #1920
Hello! Trying to use heroku on my PC, which is AD domain member. Starting any from AppData\Local is blocking by domain policy. Is there any hint to replace heroku directrory to directory place and start heroku.exe from that directory? Thank you!

[2016-05-20 12:39] dickeyxxx commented on #1920
@KochetkovVictor change %LOCALAPPDATA% to something else

[2016-05-20 12:41] KochetkovVictor commented on #1920
sure it's the best way! but how?

[2016-05-20 17:15] keiko713 commented on #1838
Also, `--at '04:00'` will end up `Internal server error`. Definitely should have a better validation.

[2016-05-24 00:34] beanieboi opened #1956 "Regression. cannot execute command"
hey,

we run a few integration tests against the Heroku Toolbelt to test some of our code. last week this code ran fine and returned and exit code of 53. somewhere between this week and last week this command broke.

[code]

expected output `  ▸    Process exited with code 53` and no error message.

[2016-05-24 04:28] dickeyxxx commented on #1956
We did fix a bug with the parser that it looks like you were trying to get
around with those escapes. Maybe just change it to `heroku run --exit-code
--app test-access-app -- bash -c "exit 53"`?

On Mon, May 23, 2016 at 5:34 PM Benjamin Fritsch <notifications@github.com>
wrote:

[2016-05-24 08:29] PetrKaleta opened #1957 "`heroku login` raise "json: cannot unmarshal object into Go value of type string""
[code]

[2016-05-24 14:39] beanieboi commented on #1956
hey jeff, nice meeting you!

sorry for being so short worded when i opened the issue. it was late yesterday and i wanted to document it somewhere :)

we have a wrapper script on our Codeship platform that people use, this is mostly to abstract the location of the heroku toolbelt away from the user. we can totally discuss if this was a good idea (i personally think it was not :) but we have this th

[2016-05-24 14:50] ransombriggs commented on #1957
@PetrKaleta Is there a backtrace in `~/.cache/heroku/error.log` ?

[2016-05-24 15:24] ransombriggs commented on #1956
@beanieboi @dickeyxxx is on vacation right now, so I can try and help you now.  The heroku run command will try and escape the args to your command unless the args size is one.  See https://github.com/heroku/heroku-run/blob/master/lib/helpers.js#L7 .  So what is happening is that the quotes around exit 53 are getting escaped because they are seen as separate arguments with single quotes in them.

[2016-05-24 15:30] ransombriggs commented on #1956
@beanieboi I am guessing this is what broke things, we had a bug where double quotes were not interpreted properly so we started using a library to escape the args https://github.com/heroku/heroku-run/pull/10

[2016-05-25 15:45] #724 closed

[2016-05-26 01:20] odarino commented on #1932
bump this thread. I've faced this error. It still stands in " heroku-cli: Installing CLI ". How can I fix this. Thank you

[2016-05-26 02:25] odarino opened #1959 "Heroku internal error when installing heroku-cli"
As a title, I've installed heroku-toolbelt, but when I run heroku.bat in \Heroku\bin, it still stands " installing CLI ... " for an hour and then throws a error.
Here is my error log:

Heroku client internal error.
read timeout reached
C:/Program Files (x86)/Heroku/vendor/gems/excon-0.47.0/lib/excon/socket.rb:299:inraise_timeout_error'
C:/Program Files (x86)/Heroku/vendor/gems/excon-0.47.0/lib/exc

[2016-05-26 14:26] ransombriggs commented on #1959
@odarino are you behind a network proxy or have any firewall / antivirus software that prevents outbound connections?

[2016-05-26 14:50] odarino commented on #1959
I turned it off, including both firewall and antivirus ( avast btw ), but it still keep that screen.

[2016-05-26 14:55] ransombriggs commented on #1959
@odarino Do you get a progress bar at all?  Something like the following?
[code]
Also, what happens if you try and download the following file manually (I am assuming you are on a 64 bit platform)
[code]

[2016-05-26 15:01] odarino commented on #1959
1.
just

2. I cant download this. I've tried it both IDM and browser.

[2016-05-26 15:54] ransombriggs commented on #1959
@odarino what error do you get in the browser?

[2016-05-27 01:01] odarino commented on #1959
@ransombriggs Nothing, just ... cant download this. Request time out.

[2016-05-27 04:22] odarino commented on #1959
Thanks to @ransombriggs . I've solved this problem. It's happened because my Internet confusingly connected to heroku server so slow ( the other's still fine ). Solution is to use a VPN app ( mine is Softether vpn client ).

[2016-05-27 04:22] #1959 closed

[2016-05-27 20:35] ransombriggs commented on #1956
@beanieboi I just shipped a release backing out the change that broke your script, could you please `heroku update` and try again?

[2016-05-28 13:00] vedsolution opened #1960 "Heroku login or heroku create is not working"
Error:       Connection reset by peer - SSL_connect (Errno::ECONNRESET) (Excon::Errors::SocketError)
    Command:     heroku --version
    Version:     heroku-toolbelt/3.43.2 (x86_64-darwin10.8.0) ruby/1.9.3
    Error ID:    c3db35e1c5474b73b5719740819c14fc

[2016-05-28 13:42] vedsolution commented on #1960
In error.log file
Heroku client internal error.
Connection reset by peer - SSL_connect (Errno::ECONNRESET)
/Users/ved/.heroku/client/vendor/gems/excon-0.47.0/lib/excon/ssl_socket.rb:120:in `connect_nonblock'
/Users/ved/.heroku/client/vendor/gems/excon-0.47.0/lib/excon/ssl_socket.rb:120:in `initialize'
/Users/ved/.heroku/client/vendor/gems/excon-0.47.0/lib/excon/connection.rb:387:in `new'
/Users/ve

[2016-05-30 15:04] ransombriggs commented on #1960
@vedsolution are you behind a network proxy or firewall?

[2016-05-31 12:53] beanieboi commented on #1956
@ransombriggs perfect, getting ` ▸    Process exited with code 53`. thank you so much!

[2016-06-02 02:03] BrunoQuaresma opened #1961 "undefined method `[]' for nil:NilClass (NoMethodError)"
heroku create
 !    Heroku client internal error.
 !    Search for help at: https://help.heroku.com
 !    Or report a bug at: https://github.com/heroku/heroku/issues/new

    Error:       undefined method `[]' for nil:NilClass (NoMethodError)
    Command:     heroku create
    Version:     heroku-toolbelt/3.43.3 (x86_64-linux) ruby/2.2.2
    Error ID:    87dc922cc4a84b96ab17b7a996ae1490

 !    Her

[2016-06-02 07:02] PetrKaleta commented on #1957
@ransombriggs we've found whats causing this. In our app we have ENV variable `HEROKU_HOST` which contains host of our heroku app instance (as expected). But this env variable is breaking heroku CLI...

[2016-06-02 14:26] ransombriggs commented on #1957
@PetrKaleta thanks for letting us know the fix in case anyone else encounters this.  Another reserved variable which will cause problems like this is `HEROKU_API_URL`.  Both of them are used to point the CLI at dev instances of the Heroku API for testing.

[2016-06-02 15:16] stof opened #1962 "[feature request] option to get the PG credentials only for scripting purposes"
I have some scripts taking DB credentials as argument (for instance ``psql`` when wanting to use the ``-f`` option which was not supported by ``heroku pg:psql`` last time I checked). Currently, I have to copy-paste the URL from the pg:credentials output, forcing me to redo the same copy-paste each time the URL change.
It would be great to have an option to get only the URL as output of the command

[2016-06-02 22:40] jekuno opened #1963 ""No such size" error with heroku run"
Running any `heroku run` command without specifying the `--size` option suddenly stopped working.

E.g. `heroku run rake db:migrate` now gives:
`No such size as 1. Available dyno sizes are Free, Hobby, Standard-1X, Standard-2X, Performance-M and Performance-L.`

I had to change it to `heroku run --size=free rake db:migrate` to get it running.

[2016-06-03 11:23] munhitsu commented on #674
issue can be still observed

[2016-06-03 17:53] dickeyxxx commented on #674
@munhitsu can you reliably reproduce?

[2016-06-03 17:54] dickeyxxx commented on #674
if so you should submit a support ticket so we can look closer

[2016-06-06 02:13] hhsieh opened #1965 "Failed to compile"
Hi, I am new to Heroku, and do not know what I did wrong. I highly appreciate if anyone can help me here. Here is the error message that I got when I 'git push heroku master.'

Does anyone know how to fix this? Thank you.

ude/libffi -I/app/.heroku/python/include/python2.7 -c c/_cffi_backend.c -o build/temp.linux-x86_64-2.7/c/_cffi_backend.o
remote:            c/_cffi_backend.c:15:17: fatal error:

[2016-06-06 14:13] ransombriggs commented on #1965
@hhsieh Could you please file a ticket at https://support.heroku.com ?  This is not a bug in the CLI and I do not have the requisite python skills to help you.  If you submit there, it will be routed to people who will be able to help you better.

[2016-06-07 10:42] hheimbuerger commented on #1222
Just as an update, this is still the case with Heroku Toolbelt 3.43.3 on Windows 10:

    $> heroku pg:vacuum-stats
    psql: server does not support SSL, but SSL was required
     !    Heroku client internal error.
     !    Search for help at: https://help.heroku.com
     !    Or report a bug at: https://github.com/heroku/heroku/issues/new

        Error:       psql failed. exit status 512, outp

[2016-06-07 21:25] ransombriggs commented on #1963
@jekuno sorry for the last response but what is the name of the app that you are running this on?

[2016-06-07 21:47] jekuno commented on #1963
It's a private app. What specs do you need?

[2016-06-08 16:29] ransombriggs commented on #1963
@jekuno Could you open a support ticket on https://support.heroku.com/ for the app that is having this behavior so that we can communicate privately?

[2016-06-09 23:26] chegie opened #1966 "cleardb not working"
I have an issue creating cleardb addons on my app. Here is the output details.

    Error:       Invalid argument -  git remote -v 2>&1  (Errno::EINVAL)
    Command:     heroku addons:create cleardb:ignite
    Version:     heroku/toolbelt/3.43.2 (i386-mingw32) ruby/2.1.7
    Error ID:    3a752e616ba341eb9625202d0d7a72b7
    More information in C:/Users/Client/.heroku/error.log

[2016-06-12 15:18] vijayvaradan commented on #1961
I get the same error on Ubuntu 16.04 LTS and ruby 2.3.0:

[code]
I've tried uninstalling and re-installing heroku and heroku-toolbelt to no avail.

[2016-06-14 09:57] adesinaadewale opened #1967 "i need help on this ive not been able to push into heroku"
heroku keys:add
 !    Heroku client internal error.
 !    Search for help at: https://help.heroku.com
 !    Or report a bug at: https://github.com/heroku/her

[code]

[2016-06-15 11:46] nkrishnamoorthi opened #1968 "Heroku client internal error."
Hi I installed Heroku tool belt for windows and I ran the heroku login in GIT bash command window.

I got the error like.,

Heroku client internal error.
connect timeout reached

I tried more times but it's not working.

[2016-06-15 19:22] ransombriggs commented on #1961
@BrunoQuaresma sorry for the delayed response, but @vijayvaradan suggestion will clean out all the heroku update and configuration files, which would give you a fresh installation and may fix your problem.  I should note however, that you would have to re-install any custom plugins that you have installed by hand.

[2016-06-15 19:23] ransombriggs commented on #1968
@nkrishnamoorthi could you please rerun the command after running the following (will only work with Git bash).  Also, are you behind a network proxy or firewall?
[code]

[2016-06-15 19:34] ransombriggs commented on #1967
@adesinaadewale What is the value of `LOCALAPPDATA`?  Feel free to mask the username if you do not feel comfortable sharing it.

[2016-06-16 05:34] theartsnetwork opened #1969 "Issue with Heroku CLI, Error: Permission denied - /Users/username/.local/share/heroku (Errno::EACCES)"
[code]

This error is consistent with all the Heroku commands even after re-installing the fresh Heroku Toolbelt installation.

here is the error log if it helps

[code]

[2016-06-16 07:08] nkrishnamoorthi commented on #1968
Hi Ransombriggs - I ran the command and tried but its not working. Yes I am behind the network proxy and firewall. Please help me on this.

[2016-06-17 06:29] ransombriggs commented on #1968
@nkrishnamoorthi Could you please try setting the `HTTPS_PROXY` environment variable as described https://devcenter.heroku.com/articles/using-the-cli#using-an-http-proxy

[2016-06-17 06:39] fylooi opened #1970 "Heroku client internal error (Did not recognize your adapter specification)"
Am having some trouble with `heroku pg:psql`:

[code]

Tried `heroku update` and downloading the latest toolbelt from the website and reinstalling, both of which did not help.

[2016-06-17 06:41] ransombriggs commented on #1969
@theartsnetwork it appears that the user you are trying to run the heroku commands as does not have access to `/Users/username/.local/share` or it `/Users/username/.local/share` is not writable, could you please verify that the user can write to that directory?  If you could paste in the output of `ls -lh /Users/username/.local/share/heroku` I can walk you through this process.

[2016-06-20 04:48] theartsnetwork commented on #1969
Tried the output of ls -lh /Users/username/.local/share/heroku
It gives me this ls: /Users/username/.local/share/heroku: No such file or directory.

[2016-06-20 10:48] nkrishnamoorthi commented on #1968
@ransombriggs  - I followed your command and the heroku installed successfully.

But Once I use the "Heroku login" and I am giving my heroku credentials then I am getting below error.

**post https://api.heroku.com/login: net/http: TLS handshake timeout**

Please help me on this.

[2016-06-20 21:28] ransombriggs commented on #1968
@nkrishnamoorthi It appears that it is timing out at your proxy server, could you try contacting your network administrator to see if they could provide any insight?

[2016-06-20 21:30] ransombriggs commented on #1969
@theartsnetwork the heroku directory cannot be created, could you please check that `/Users/username/.local/share` is writable by your user?  Looking back at my previous comment, I realized that I should have asked you to paste `ls -lh /Users/username/.local/share` instead, could you please paste that in here?

[2016-06-24 19:53] lambainsaan commented on #1920
Getting this issue on Fedora,.
`
Installing Heroku Toolbelt v4... !    Heroku client internal error.
 !    Search for help at: https://help.heroku.com
 !    Or report a bug at: https://github.com/heroku/heroku/issues/new

    Error:       No such file or directory @ rb_sysopen - /usr/share/gems/gems/heroku-3.41.3/data/cacert.pem (Errno::ENOENT)
    Command:     heroku git:remote -a pure-gorge-5850

[2016-06-25 14:25] rochebox opened #1972 "Heroku server certificate issue"
Hi I'm having a problem in deploying a rails project to Heroku  I am in the Firehose Project. https://www.thefirehoseproject.com/   There is a stack-over flow request with basically the same issue, but there is no solution there...(or I didn't see it).

In a vagrant development environment (after creating a rails project and setting up a gitHub repository (all fine) when I try 'heroku create file-

[2016-06-28 07:58] goyalshubham13 opened #1973 "Heroku client internal error. connect timeout reached"
Hi,

I just installed heroku toolbelt and on very first run it failed saying that connect timeout reached.
![heroku](https://cloud.githubusercontent.com/assets/2923879/16407979/17f6b8d0-3d34-11e6-9584-b29e7c43da7a.png)

Please suggest any solution.

Thanks.

[2016-06-28 10:31] goyalshubham13 commented on #1973
@dickeyxxx please help with this issue. Let me know what URLs I need to add into my firewall if required.

[2016-06-28 13:54] dickeyxxx commented on #1973
You need to whitelist *.heroku.com
On Tue, Jun 28, 2016 at 3:31 AM Shubham Goyal <notifications@github.com>
wrote:

[2016-06-28 19:06] dickeyxxx commented on #1972
are you behind a proxy?

[2016-06-29 12:13] goyalshubham13 commented on #1973
Thanks @dickeyxxx for your help. Above issue is resolved at my end. Now while creating new app on heroku, I am getting **"SELF_SIGNED_CERT_IN_CHAIN: self signed certificate in certificate chain"**.

I am not able to understand how to go about it. Can you please help with this?

Thanks again.

[2016-06-29 19:53] dickeyxxx commented on #1973
this means you have a MITM proxy. I'm not sure how to make it work, you'll probably have to set `SSL_CERT_FILE` to a certificate for your internet.

[2016-07-01 03:53] theartsnetwork commented on #1969
output for ls -lh /Users/username/.local/share
total 0
drwxr-xr-x  3 root  staff   102B Sep 26  2015 bower

[2016-07-01 10:13] walkerwzy opened #1975 "install heroku CLI fail"
heroku-cli: Installing CLI... 20.15MB/20.15MB !    Heroku client internal error.
 !    Search for help at: https://help.heroku.com
 !    Or report a bug at: https://github.com/heroku/heroku/issues/new

    Error:       SHA mismatch for heroku.tar.gz (RuntimeError)
    Command:     heroku login
    Version:     heroku-toolbelt/3.43.5 (x86_64-darwin10.8.0) ruby/1.9.3
    Error ID:    8c9b2188cdfd406

[2016-07-01 10:27] walkerwzy commented on #1975
after I tried for 5 times, it install successfully and I don't know why. but I should close this issue first.

[2016-07-01 10:27] #1975 closed

[2016-07-01 14:16] ransombriggs commented on #1969
@theartsnetwork It appears that `/Users/username/.local/share` may be owned by root, could you please change the ownership to your username.
[code]

[2016-07-02 05:40] Hanamant-Kadlimatti commented on #972
The requested API endpoint was not found. Are you using the right HTTP verb (i.e. `GET` vs. `POST`), and did you specify your intended version with the `Accept` header?

Hi Iam getting above error.
My heroku version is
heroku/toolbelt/3.43.5 (i386-mingw32) ruby/2.1.7
heroku-cli/5.2.23-0daa80b (windows-386) go1.6.2

help me

[2016-07-02 05:44] ransombriggs commented on #972
@Hanamant-Kadlimatti what command are you trying to run?

[2016-07-05 11:46] #1969 closed

[2016-07-05 23:22] AndrewDESmith commented on #1972
I'm running into the same problem, and am doing exercises from the same program.

We are running a Linux development environment inside Vagrant.  Outside of that, I'm not running any proxies or VPNs.

[2016-07-06 18:07] tksalesforce commented on #1791
I'm still having this problem. I had set up Heroku to use SSH exclusively, identically to @edmorley. Fixed it by removing the setting, but I can't imagine I'm the only one who would get stuck like this. Happy to provide any details you need in order to correct this issue.

[2016-07-06 18:08] jkdf2 commented on #1791
I'm having this problem. I had set up Heroku to use SSH exclusively, identically to @edmorley. Fixed it by removing the setting, but I can't imagine I'm the only one who would get stuck like this. Happy to provide any details you need in order to correct this issue permanently.

[2016-07-07 03:55] jayagl commented on #1934
+1

[2016-07-07 13:49] Hanamant-Kadlimatti commented on #798
how to install heroku standalone toolbelt
help me

[2016-07-09 20:30] maxxkrakoa commented on #1920
@lambainsaan I added this bug to Fedora https://bugzilla.redhat.com/show_bug.cgi?id=1354126

I am guessing it's a packaging error.

You might want to try installing the latest version as ruby gem heroku toolbelt directly from the heroku descriptions and see if that works

[2016-07-12 06:58] ichromanraditya opened #1976 "Heroku login: client internal error SocketError"
Hi.
I'm using Ubuntu 14.04 64bit and when I try to use heroku at first time, I type 'heroku login' and got this error:

`heroku-cli: Installing CLI...
Error: getaddrinfo: Name or service not known (SocketError)
/usr/local/heroku/vendor/gems/excon-0.47.0/lib/excon/socket.rb:108:in `getaddrinfo'
/usr/local/heroku/vendor/gems/excon-0.47.0/lib/excon/socket.rb:108:in `connect'
/usr/local/heroku/vendor/

[2016-07-13 20:17] ransombriggs commented on #1976
@ichromanraditya it is failing when trying to look up the host `cli-assets.heroku.com`.  Could you please try again as it may be a temporary DNS issue.

[2016-07-14 12:32] nrgized opened #1979 "SSL_connect returned=1 errno=0 state=SSLv2/v3 read server hello A: unknown protocol (OpenSSL::SSL::SSLError)"
I get this error when trying to install Heroku CLI behind proxy:

SSL_connect returned=1 errno=0 state=SSLv2/v3 read server hello A: unknown proto
col (OpenSSL::SSL::SSLError)
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/excon-0.51.0/lib/excon/ssl_
socket.rb:120:in `connect_nonblock'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/excon-0.51.0/lib/excon/ssl_
socket.rb:120:in `initiali

[2016-07-15 04:06] ichromanraditya commented on #1976
Yeah seems it's a DNS issue, today I use different ISP and it's working. Thanks for your help!

[2016-07-18 09:53] ajajeetaj opened #1980 "Unable to run command "heroku run db:migrate""
I'm behind my college proxy which requires username and password. I'm able to push my Rails code to heroku master. But after that commands like **_heroku run db:migrate/heroku run rails console_** are not working, getting **EAI_AGAIN: getaddrinfo EAI_AGAIN rendezvous.runtime.heroku.com:5000** error repeatedly. I've exported my  proxy variables. I tried using _heroku run:detached_, but no progress.

[2016-07-18 14:06] ransombriggs commented on #1980
@ajajeetaj what kind of proxy are you behind?  `heroku run` does not do an HTTP call, it instead connects using TCP over port 5000 and uses its own protocol, so if you only have to use the proxy for HTTP / HTTPS, the proxy should not be interfering.  It also appears that the real problem is DNS resolution.  What is the output of the following command?  (works in Mac / Linux, let me know if you use

[2016-07-19 07:55] ajajeetaj commented on #1980
My College uses squid proxy to restrict internet usage. When I ran **nmap** command
`sudo nmap -p 1-65000 202.141.80.22`
to see my open ports, then result was
[code]

The output of the command `dig rendezvous.runtime.heroku.com` is
[code]
And, What does it mean by **problem in DNS resolution**? I get DNS resolution problem when I try to connect to my AWS machine through ssh from my college proxy.

[2016-07-19 21:12] dickeyxxx commented on #1791
did you have this set? `git config --global url.ssh://git@heroku.com/.insteadOf https://git.heroku.com/`

Because that should be fixed now.

[2016-07-19 21:24] cdwort opened #1982 "`heroku drains` on paranoid apps reveals information before 2FA"
When I run `heroku drains -a my-paranoid-app`, I get this response:

[code]

When I enter the wrong code, I see that information again:

[code]

When I do enter the correct code, I get the drain information twice:

[code]

[2016-07-19 21:26] cdwort commented on #1982
I was also not asked for my 2FA key when removing said drain.

[2016-07-19 21:37] ransombriggs commented on #1980
@ajajeetaj From the output of the `dig` command it looks like it is not able to resolve `rendezvous.runtime.heroku.com`.  For comparison, here is my `ANSWER SECTION` for the same command.  It appears that you are using localhost for DNS resolution, so something in your DNS daemon configuration will need to be fixed.  Helping you configure this may be beyond the scope of my abilities depending on y

[2016-07-20 00:47] dickeyxxx commented on #1982
For the removal, the CLI does not dictate what requires 2fa and what doesn't, that is driven by the API. I put a PR in to fix the display issue.

[2016-07-20 17:07] jkdf2 commented on #1791
That's very strange - after resetting with `git config --global --remove-section url.ssh://git@heroku.com/`, I cannot reproduce the problem again.

Sorry for the trouble.

[2016-07-21 05:14] gangap2014 commented on #510
If i want to login into heroku from my linux box that is behind proxy server, how shld i be doing this.
I have already set http_proxy and https_proxy env var, but still getting this error message.

Thanks..

[2016-07-21 20:42] funwhilelost commented on #674
Still dealing with this (though it's not a huge part of our program now) but we simply added a `; sleep 30;` to the end of the run and it gives it time to flush out the rest of the buffer.

[2016-07-21 20:58] funwhilelost commented on #1980
A quick suggestion: switch to OpenDNS.  Should work through your college proxy but you might not be able to resolve on-campus addresses as easily.

[2016-07-22 02:41] ariticas opened #1983 "KFLKAF;LKANS;CLMACLM"

[2016-07-22 02:59] #1983 closed

[2016-07-22 15:19] ValleJulien opened #1985 "failed to compile php, deployment php app with composer dependencies"
Trying to deploy my symfony app I have this error occured:

[code]

I really don't understand why, and I am not sure it is in relation with php buildpack. Before this error not appear and I have the same configuration as before.

This is my composer.json file:
[code]

For depolying I run this command: `git push heroku my-branch:master` and I see the hroku logs that build the app.

More explanation

[2016-07-22 18:01] dickeyxxx commented on #1985
Please submit a support ticket, this project is for the CLI only.

[2016-07-22 18:01] #1985 closed

[2016-07-23 20:32] srameez opened #1986 "heroku client internal error"
![screenshot from 2016-07-23 01-44-08](https://cloud.githubusercontent.com/assets/20565549/17080144/42d131c0-513e-11e6-9a90-39a02e8abc2d.png)
i am facing this error when i write this command $ heroku login

[2016-07-24 05:11] ushuz opened #1987 "Command failed: ./main iTerm"
Running `heroku` in iTerm2 results in following error. I'm using iTerm2 Build 2.1.4, on OSX 10.11.5.

![image](https://cloud.githubusercontent.com/assets/1430856/17081970/b2b0efca-519e-11e6-9ff3-c41d35f322a9.png)

While running `heroku` in Terminal is fine.

![heroku](https://cloud.githubusercontent.com/assets/1430856/17082006/12857366-51a0-11e6-82fe-a1e49fd90bad.png)

[2016-07-24 06:55] dickeyxxx commented on #1987
try updating your version of iterm to the latest

[2016-07-25 02:59] ushuz commented on #1987
@dickeyxxx Upgrading to iTerm2 3.0.5 solved the problem, thanks. So support for iTerm2 2.x has been dropped already?

[2016-07-25 02:59] #1987 closed

[2016-07-25 20:24] dickeyxxx commented on #1987
I'm not sure what isn't working exactly. It's something with this library we use: https://github.com/sindresorhus/term-img/blob/master/index.js

[2016-07-26 13:55] develaper opened #1988 "Heroku client internal error when I try to run heroku create"
When I run heroku create that is the result:

!    Heroku client internal error.
!    Search for help at: https://help.heroku.com
!    Or report a bug at: https://github.com/heroku/heroku/issues/new

Error:       could not find a temporary directory (ArgumentError)
Command:     heroku create
Version:     heroku-toolbelt/3.43.7 (x86_64-linux) ruby/2.3.0
Error ID:    00f61fadb52f4517850b6d23bd74564d

[2016-07-26 17:20] dickeyxxx commented on #1988
You don't have a temp directory configured. https://blog.diacode.com/fixing-temporary-dir-problems-with-ruby-2

[2016-07-26 17:33] dickeyxxx commented on #1986
Try deleting `~/.heroku` and `~/.local/share/heroku`.

[2016-07-27 11:05] kadamdipali92 opened #1989 "SHA mismatch for heroku.tar.gz (RuntimeError)"
heroku-cli: Installing CLI... 22.07MB/22.07MB !    Heroku client internal error.
 !    Search for help at: https://help.heroku.com
 !    Or report a bug at: https://github.com/heroku/heroku/issues/new

    Error:       SHA mismatch for heroku.tar.gz (RuntimeError)

[2016-07-27 15:46] dickeyxxx commented on #1989
Are you behind a proxy?

[2016-07-27 17:23] develaper commented on #1988
it works perfect now.
Thanks a lot!!

[2016-07-27 17:23] #1988 closed

[2016-07-29 14:47] alexauritt opened #1990 "Unable to install CLI -- Error: Permission denied"
I've been having trouble with the Heroku CLI for several days now. I've tried uninstalling and reinstalling several times. Have tried installing through homebrew, as well as installing the Heroku Toolbelt. And I've made sure to fully uninstall before trying again, following uninstall directions posted at: https://devcenter.heroku.com/articles/heroku-command#uninstalling-the-heroku-cli

When I down

[2016-07-29 15:15] dickeyxxx commented on #1990
You need write access to that directory that is in the error message. Make sure you are the owner of it and/or the parent directory and you've given it user write permission.

[2016-08-01 05:40] indieNik commented on #510
Hello,

I was trying to run the command behind a corporate firewall. Thanks to this thread I got to know what to set. Solved my problem by setting both HTTP_PROXY and HTTPS_PROXY to **http://proxy.company.com:8080**

Cheers!

[2016-08-01 23:12] CarlJohnston commented on #1920
@lambainsaan @maxxkrakoa I was getting the same error.

Removing  `rubygem-heroku` via `dnf` on `Fedora 24` with `Rawhide nodebug` and installing the standalone version fixes the error for me.

[2016-08-02 14:59] hmuschett opened #1992 "error frist run heroku CLI --version"
error frist run heroku CLI -version

$ heroku --version
heroku-cli: Installing CLI...connect timeout reached
C:/Program Files (x86)/Heroku/vendor/gems/excon-0.47.0/lib/excon/socket.rb:139:in `rescue in block in connect'
C:/Program Files (x86)/Heroku/vendor/gems/excon-0.47.0/lib/excon/socket.rb:119:in `block in connect'
C:/Program Files (x86)/Heroku/vendor/gems/excon-0.47.0/lib/excon/socket.rb:110:

[2016-08-02 19:56] nicefellow1234 opened #1994 "Installing Heroku Toolbelt on Windows 10"
I've been having some issues installing the Heroku toolbelt on Windows 10, 64-bit.

It's the first time I install Heroku. I downloaded it from https://toolbelt.heroku.com/windows.

After installing, I tried launching a new Git Bash and typing `heroku login` but what I got back was bash: `heroku: command not found`

Running the same command on Windows Powershell, what I got back was

[code]
Any sug

[2016-08-02 21:25] dickeyxxx commented on #1994
Your PATH has something invalid in it that Ruby doesn't like. I'm not sure
what but I've seen other users with this problem and that's what it was,
but I've never reproduced it myself.
On Tue, Aug 2, 2016 at 12:56 PM nicefellow1234 <notifications@github.com>
wrote:

[2016-08-04 13:31] damienfa commented on #514
@csuhta ... heroku/heroku-repo do not have a "rebuild" command ? What is your point ?

[2016-08-04 16:16] csuhta commented on #514
@damienfa `heroku-repo` lets you blow out your Heroku buildpack caches and Git remote. So one of the ways you can rebuild/recompile your application without making any new Git commits is:

[code]

[2016-08-05 13:34] nicolallias commented on #1989
Same problem here, caused by file permission problem.

Have a look in /home/<you>/.heroku/error.log

[2016-08-07 10:48] nqryn commented on #1457
+1 on this issue. I also tried putting the flag anywhere in between the rest of the command, but nothing worked. I also did not find any examples on the internet about how to achieve this. The worst part is that I am getting an "!    internal error" and there's no way to see what happened...

[2016-08-10 10:53] bogdanRada commented on #1833
I have same issue. Can't seem to run ```heroku run bash``` or anything after the ```run```
However i can see the version , or login

I am using Ubuntu 16.04 and i have this versions of heroku :
[code]

This is the error i am getting
[code]

Every time i run the ```heroku run bash``` , a folder is created in the current directory named ":" , which has this structure:

[code]

Although my Mono versi

[2016-08-10 17:00] dickeyxxx commented on #1833
what is your `LOCALAPPDATA` set to?

[2016-08-10 21:38] greedo opened #1997 "pg_restore - server closed the connection unexpectedly"
while trying to do `heroku pg:pull DATABASE_URL app --app staging`

I am receiving the following internal error:
`error returned by PQputCopyData: server closed the connection unexpectedly
This probably means the server terminated abnormally before or while processing the request.`

<img width="901" alt="screen shot 2016-08-10 at 5 36 25 pm" src="https://cloud.githubusercontent.com/assets/410872/1

[2016-08-10 21:40] dickeyxxx commented on #1997
this project is for the CLI but this is a server issue. Please submit a support ticket.

[2016-08-10 21:40] #1997 closed

[2016-08-11 07:04] bogdanRada commented on #1833
Apparently i have nothing in that:
[code]

This is though the list of all ENV variables i have on my Ubuntu machine

[code]

The only thing that i see strange are the XDG_DATA_* variables which seem to point to monodevelop-3.0.3.5...but i have no idea why :(

[2016-08-11 07:30] bogdanRada commented on #1833
I was able to figure it out . I don;t have anything in LOCALAPPDATA, and i haven't checked before the other environment variables.

But you have gave me a wonderful idea, so i checked the rest of the env variables and found something strange:

[code]

Which after some investigation, it seems there were in my bashrc profile, probably left when i upgraded my Ubuntu version from 14.04 to 16.04
[code]

[2016-08-15 17:01] jjthom87 opened #1998 "Error: ENOENT: no such file or directory, stat '/app/"
I have tried for countless hours, looking through all of the solutions on stack overflow, and none of them have worked. Everything seems to be working fine on my localhost, but when i push to heroku, the logs come up with that error message, and the page just says "NOT FOUND." Can you please provide assistance on this matter.

[2016-08-15 17:49] jjthom87 commented on #1998
Here is my server.js:

//NPM install packages...Dependencies
var express = require ('express');
var bodyParser = require('body-parser');
var path = require('path');
// var ParseServer = require('parse-server').ParseServer;

//Sets up the the express app
var app = express();

//Where all of the post information is being pushed to
//setting up the port that the server will be listening on
var PORT =

[2016-08-15 18:39] ransombriggs commented on #1998
@jjthom87 this repository is for CLI related issues.  Since it appears that you are having issues with running your application on heroku, it would be best if you filed a support issue here https://support.heroku.com/ .  By doing so, you will receive better support from the correct team.

[2016-08-16 19:34] #1998 closed

[2016-08-16 21:35] mtman opened #1999 "pg:psql uses an external ruby.exe which fails if it's 2.3"
Tested `heroku pg:psql` with ruby 2.1.7 from the heroku install directory in my path and it worked.

[2016-08-16 21:43] thiagovsk commented on #748
+1

[2016-08-19 20:35] sungwon commented on #1972
`gem uninstall heroku`
and then
`gem install heroku`

If you're not using vagrant, rather than reinstalling heroku as a gem, it would probably be better to install the heroku toolbelt, but vagrant makes that difficult.

Here is some more info and other solutions:
http://stackoverflow.com/questions/17268517/heroku-client-internal-error-unable-to-verify-certificate

[2016-08-19 20:49] cmmartin opened #2000 "Host key verification failed."
I'm trying to push a Node.js application to Heroku. The app uses npm to fetch private github repositories, which are specified in `package.json`, like this...

[code]

The build fails during the `npm install` phase because the github host keys are not in the containers `known_hosts` file.

[code]

This is expected behavior of SSH. Does Heroku provide a workaround for this? For example, [dokku](htt

[2016-08-19 21:23] dickeyxxx commented on #2000
This project is for the Heroku CLI only. Please submit a [support ticket](https://help.heroku.com/) for help with your application.

[2016-08-19 21:23] #2000 closed

[2016-08-19 21:53] cmmartin commented on #2000
I'm not looking for help. I'm looking for a yes or no answer as to whether Heroku CLI provides a means to inject host keys into the container. It seems strange that it would support SSH keys, but not host keys. That's only half the battle. Anyway, I guess this isn't the forum for this kind of question.

[2016-08-23 04:42] rheaditi commented on #1866
Hi Guys, I'm facing the same issue. My workplace uses a proxy server.
I've configured the proxy according to the instructions mentioned [here](https://devcenter.heroku.com/articles/using-the-cli#using-an-http-proxy).

The server I've set up is correct because it works with Git (for windows).
I've tried setting them to `proxy.server.com:port_number` for which I get `uninitialized constant Excon::Er

[2016-08-23 06:53] dunake commented on #746
this is happening to me when i run heroku run rails console

2016-08-23T06:50:38.477410+00:00 heroku[run.9380]: Awaiting client
2016-08-23T06:50:38.709432+00:00 heroku[run.9380]: State changed from starting to up
2016-08-23T06:51:08.499871+00:00 heroku[run.9380]: State changed from up to complete
2016-08-23T06:51:08.479433+00:00 heroku[run.9380]: Error R13 (Attach error) -> Failed to attach to pro

[2016-08-23 15:13] ransombriggs commented on #1866
@rheaditi Could you verify that the proxy server is prefixed with `http` or `https`?

[2016-08-23 16:19] dickeyxxx commented on #746
Your CLI is very out of date

[2016-08-24 05:30] rheaditi commented on #1866
@ransombriggs Hi,
I hadn't tried that. Upon prefixing `http://` and `https://` respectively to `HTTP_PROXY` and `HTTPS_PROXY` I get the following messages:

1. With username:
Error:			SSL_connect returned=1 errno=0 state=SSLv2/v3 read server hello A: unknown protocol (OpenSSL::SSL::SSLError) (Excon::Error::Socket)
Command:		heroku login
HTTP Proxy:		http://username@proxy.example.com:80
HTTPS Proxy

[2016-08-24 14:21] ransombriggs commented on #1866
@rheaditi Does your proxy rewrite certificates?  If so, could you try setting `SSL_CERT_FILE` to the certificate authority provided by your proxy server?  Also, looking at your `HTTPS_PROXY` test, it appears that you manually specified port 80, are you sure that is correct?

[2016-08-24 18:57] afogel opened #2001 "SSL error within heroku tools"
Getting the following error pretty consistently when I'm trying to import a PG database to a QA server.
Wasn't sure if you guys had seen it, but I figured I'd log the issue.
I edited out the s3 url and app name for privacy concerns, but hopefully this is enough information to go on?
Thanks.

[code]

the full stack trace from my error.log can be found here:
[code]

[2016-08-24 20:55] gjtorikian opened #2002 "Heroku CLI with Heroku Enterprise?"
At work, we navigate to our Heroku apps hosted on Heroku Enterprise by first going through Okta. Is there any support for this through the CLI? I can't seem to authenticate with my Heroku Enterprise email address.

[2016-08-24 22:06] ransombriggs commented on #2002
@gjtorikian could you please try logging in with `heroku login --sso`?

[2016-08-24 23:26] gjtorikian commented on #2002
Yup, that did it! Thank you!

[2016-08-24 23:26] #2002 closed

[2016-08-25 04:28] rheaditi commented on #1866
@ransombriggs

1. I am not sure about the certificate rewriting & unaware of how to check if it does do that. Although my `SSL_CERT_FILE` is set to point to a local version of [this file](https://curl.haxx.se/ca/cacert.pem) as required for Jekyll following [this](https://www.hieule.info/programming/fix-errors-github-metadata-ssl-certificate-running-jekyll-serve/) guide.

2. The port is correct AFA

[2016-08-25 14:37] ransombriggs commented on #1866
@rheaditi Could you try unsetting `SSL_CERT_FILE` temporarily in the command prompt and see if it works then?

[2016-08-25 19:13] tnoonan-salesforce opened #2003 "heroku plugins:install fails on installing optional dependencies."
If you have a dependency on Buyan it then has a dependency on dtrace-provider. The dtrace-provider will fail to install and thus cause the toolbelt plugin install to also fail.

[2016-08-26 08:47] dantesolis commented on #1990
If you are installing `heroku` with `homebrew` rather than downloading the CLI from the heroku website. Just `chmod 600` to the folder specified when you got the error. That solved the problem for me

[2016-08-27 22:02] abhinav118 commented on #1725
any update on this ticket?
sql: could not connect to server: Connection refused
	Is the server running on host "ec2-xxxx.compute-1.amazonaws.com"  and accepting
	TCP/IP connections on port 5432?

[2016-08-28 02:07] ransombriggs commented on #1725
@abhinav118 Could you file a ticket at support.heroku.com ?  It can then be handled by the proper team within heroku.

[2016-08-29 04:46] rheaditi commented on #1866
@ransombriggs I get the same error as before:

[code]

[2016-08-29 09:48] pre commented on #1409
I have this same problem.:) I'm also trying to feed seed data to Rake from STDIN.

Command:
`cat FILENAME | heroku run bash --noediting -c "rake db:seed:TASKNAME"`

Three notes:

1) If FILENAME has only a small amount of lines, reading from STDIN will always succeed, rake will receive EOF as expected and the process will stop eventually.

2) If FILENAME has 900 lines of plain text, reading from ST

[2016-08-29 11:27] pre commented on #1409
Related:
* https://github.com/heroku/heroku/issues/1336
* https://github.com/heroku/heroku-run/commit/eabaf6c9badfc3f73613a8e8d9b60d20489011ad

[2016-08-29 13:45] phaefele commented on #1725
I in the end simply decided to use AWS rather than Heroku, so this was not
an issue any longer.

On Sat, Aug 27, 2016 at 10:07 PM, Ransom Briggs <notifications@github.com>
wrote:

--
Paul Haefele
-------------------------------------------------------------------------
Work: paul@cliftoncm.com     Personal: paul@haefele.org
Work: +1-800-647-2176 x 303     Cel: +1-416-902-6326
ca.linkedin.com/in/ph

[2016-08-29 14:27] ransombriggs commented on #1409
@pre Could you try running the following?
[code]
The `heroku run` command by default runs in a terminal, adding the `--no-tty` will force it to not run in a tty.  The reason it hangs in a tty is due to some buffering issues that we found that users were hitting around 4k of input.  I wanted to automatically enable this flag, but we cannot reliably detect a tty on all platforms (specifically cygwin

[2016-08-29 14:56] ransombriggs commented on #1866
@rheaditi I was looking at the [jekyll](https://www.hieule.info/programming/fix-errors-github-metadata-ssl-certificate-running-jekyll-serve/) instructions you referenced earlier, and I was wondering if you could test two things for me.  Does the test that they suggest work for github & heroku?
[code]

[2016-08-30 04:58] rheaditi commented on #1866
@ransombriggs So I hadn't tested that in a while, especially not behind the proxy server at work. It doesn't function behind the proxy..

[code]

[2016-08-30 06:23] pre commented on #1409
You know what, it works with `--no-tty`! Thanks @ransombriggs!

Yesterday I settled to a  workaround where the Rake task reads from STDIN and I copypaste the data into the terminal. But this is better. :)

Both of the following commands work for both reading stdin all-at-once and line-by-line:
* `cat FILENAME | heroku run --no-tty rake db:seed:TASKNAME`
* `heroku run --no-tty rake db:seed:TASKNAME

[2016-08-31 11:03] albertnetymk commented on #1409
`--no-tty` works for me as well. Thank @ransombriggs very much.

[2016-09-01 17:41] jkeyes opened #2006 "Error Updating: Update hash signature mismatch"
I didn't have an issue earlier today, but in the last hour or so something has changed as I'm now getting this failure:

[code]

[2016-09-01 21:03] jkeyes commented on #2006
This is no longer a problem for me:

[code]

Out of curiosity can you let us know why this happened. Thanks.

[2016-09-01 21:05] dickeyxxx commented on #2006
You were just updating during a partial release which was an error on our side. The release is complete now.

[2016-09-01 21:05] #2006 closed

[2016-09-02 08:07] stof commented on #1962
Is there any chance to get some feedback about this feature request ?

[2016-09-02 08:10] stof opened #2007 "[feature request] provide bash/zsh completion"
Providing completion config for bash/zsh would be great

[2016-09-06 17:44] lishitianxia1385 opened #2009 "problems"
heroku-cli: Installing CLI... 0.32MB/18.54MB
Error: An existing connection was forcibly closed by the remote host. (Errno::EC
ONNRESET)
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/2.1.0/openssl/buffering.rb:182
:in `sysread_nonblock'
C:/Program Files (x86)/Heroku/ruby-2.1.7/lib/ruby/2.1.0/openssl/buffering.rb:182
:in `read_nonblock'
C:/Program Files (x86)/Heroku/vendor/gems/excon-0.51.0/lib/

[2016-09-06 19:28] ransombriggs commented on #2009
@lishitianxia1385 could you please try again?  This was most likely a temporary network error.

[2016-09-06 19:29] ransombriggs commented on #2009
@lishitianxia1385 also, are you running any anti-virus software?

[2016-09-07 03:47] hsian commented on #334
@MrSwitch   thanks a lot!

[2016-09-07 08:02] lishitianxia1385 commented on #2009
Yes, I was in China. Networks need to scale the wall, the network is very poor, especially with the command-line to download heroku-cli, but the download heroku-toolbelt is normal from the web, the network itself is not bad. Hope can be downloaded from the website heroku-cli, I can install it manually. Thank you for your answer.

[2016-09-07 12:25] antony7777 opened #2010 "Permission denied - git --version (Errno::EACCES) on Windows 10"
Hi
I'm trying to install Heroku CLI on windows 10.
Got into this error:
`'MySQL' is not recognized as an internal or external command, operable` program or batch file.
`'MySQL' is not recognized as an internal or external command, operable program or batch file.
` !    Heroku client internal error.
` !    Search for help at: https://help.heroku.com
` !    Or report a bug at: https://github.com/her

[2016-09-07 16:25] dickeyxxx commented on #2010
usually this is because the `PATH` is invalid

[2016-09-07 16:33] ransombriggs commented on #2010
@antony7777 for more information see http://stackoverflow.com/a/34392342/255982

[2016-09-07 21:35] tranlamnhatnam opened #2012 "Install problem"
Hello.

After install Heroku Toobelt. I downloaded it from https://toolbelt.heroku.com/windows. I open Gist Bast and try `heroku login` but it return error:

[code]

I run on Windows 10 64-bit, before install Heroku Toolbelt, i have a Ruby version installed in `c:\Ruby23-x64`

How can i fix this error?

[2016-09-07 21:47] Eldinnie commented on #2012
Same problem here, Fresh install of windows 10 64bit. Someone noticed it might be due to gem installation rules in Ruby 2.1

[2016-09-07 22:32] ransombriggs commented on #2012
On phone: just shipped a new release that rolls back the release with this bug, please re install from https://toolbelt.heroku.com

[2016-09-07 22:47] ransombriggs commented on #2012
@Eldinnie & @tranlamnhatnam a fresh install from the website should work now

[2016-09-07 23:05] tranlamnhatnam commented on #2012
Thanks! It's worked for me.

[2016-09-07 23:05] #2012 closed

[2016-09-08 20:22] Eldinnie commented on #2012
Worked for me aswell, thanks @tranlamnhatnam

[2016-09-13 21:30] mbarakaja opened #2014 "cannot unmarshal DNS message when login in heroku"
Hello

I am facing a problem related to a closed issue here #1899. The version of heroku-toolbelt and heroku-cli is as follow:

[code]

When I try to log in

[code]

My O.S is Ubuntu **16.04** LTS 64 Bits

[2016-09-14 07:04] SShrike commented on #1862
Any updates on this @dickeyxxx?

[2016-09-14 14:09] dickeyxxx commented on #1862
Nothing more than I said before. The new CLI is nearly complete.

[2016-09-15 21:05] DiegoSalazar opened #2015 ""Unable to load plugin heroku-taps" every time I use the `heroku` toolbelt."
I get this error whenever I use the `heroku` command.

[code]

I can't find any info on fixing this, I've looked on the heroku devcenter and on stackoverflow. I understand it can't find `heroku/command/db`.

So I tried installing it, perhaps my new version of ruby doesn't have it:

[code]

But I still get the same error when any heroku command. Any ideas?

[2016-09-17 11:12] kostyrevaa commented on #1152
So why isn't it in upstream?
Is is that hard to provide RPMs for end users?

[2016-09-18 04:34] AgungPambudi commented on #1976
The solution is changing your DNS name server. I was tried changing my DNS name server in my laptop in order to use Google DNS

Google DNS
Preferred: 8.8.8.8
Alternate: 8.8.4.4

And the result is works perfectly

[2016-09-19 09:52] #1835 closed

[2016-09-19 23:11] ichromanraditya commented on #1976
It's solved mas @AgungPambudi . anyway thanks dah respon :)

[2016-09-21 22:19] eguinosa commented on #1979
I have the same problem:

heroku-cli: Installing CLI...
Error: SSL_connect returned=1 errno=0 state=SSLv2/v3 read server hello A: unknown protocol (OpenSSL::SSL::SSLError)
/usr/local/heroku/vendor/gems/excon-0.51.0/lib/excon/ssl_socket.rb:120:in `connect_nonblock'
/usr/local/heroku/vendor/gems/excon-0.51.0/lib/excon/ssl_socket.rb:120:in `initialize'
/usr/local/heroku/vendor/gems/excon-0.51.0/lib/e

[2016-09-21 22:20] eguinosa commented on #1979
Somebody knows how to solve this?????????

[2016-09-22 13:19] ransombriggs commented on #1979
@eguinosa What exact version of linux are you running?  I can try and set up a VM to try and recreate.  Also any information you can give me about your network proxy would be useful, I have only tested with squid presently, and I can better match your environment that will help with debugging.

Also, it appears that you might be a ruby developer, would you feel comfortable just running the followi

[2016-09-22 22:40] bestori commented on #1792
Please provide contents of your local C:/Users/Administrator/.heroku/error.log :)

[2016-09-23 13:03] stoffern opened #2016 "certificate expired.."
https://git.heroku.com/
😆

[2016-09-23 13:09] SanderMander commented on #2016
I can't deploy because of that

fatal: unable to access '...': server certificate verification failed. CAfile: /etc/ssl/certs/ca-certificates.crt CRLfile: none

[2016-09-23 13:17] ransombriggs commented on #2016
@stoffern @SanderMander I am sorry that you are unable to deploy, I am following the status of the fix and will update when it should be working again.  If you want to, you can watch https://twitter.com/herokustatus for when it is fixed (as https://status.heroku.com/ appears to be affected as well)

[2016-09-23 13:27] ransombriggs commented on #2016
@stoffern The website has been fixed, thanks for letting us know about this

@SanderMander you may be able to deploy now, there were multiple sites affected and the incident is not fully resolved yet, but go ahead and try again.  The status site is available again at https://status.heroku.com/ and I will update once everything is fully working again.

[2016-09-23 13:53] ransombriggs commented on #2016
@SanderMander if you have not already tried yet, could you please retry your deploy?  Everything should be back to normal now.

[2016-09-23 14:05] stoffern commented on #2016
@ransombriggs working like a charm..

[2016-09-23 14:05] #2016 closed

[2016-09-23 15:25] eguinosa commented on #1979
Hi,

Yes, I'm using Ubuntu 16.04 and I'm also a Ruby developer that's the reason
so I use heroku.

The congirutation is for my school http proxy.

I hope my information can help.

On Thu, Sep 22, 2016 at 5:19 PM, Ransom Briggs <notifications@github.com>
wrote:

[2016-09-23 15:36] ransombriggs commented on #1979
@eguinosa Could you run this bit of Ruby code and paste the output?  I want to try and isolate what is causing the bug and it would help me remove a bunch of layers.   (you may have to `gem install excon` first)

[code]

[2016-09-23 16:15] eguinosa commented on #1979
Here is the output:

eguinosa Documents $ cat code.rb
require 'excon'
Excon.get("https://cli-assets.heroku.com/branches/stable/gz/manifest.json",
expects: [200])
eguinosa Documents $ ruby code.rb
/home/eguinosa/.rvm/rubies/ruby-2.3.1/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in
`require': cannot load such file -- excon (LoadError)
from
/home/eguinosa/.rvm/rubies/ruby-2.3.1/lib/ruby/2.3

[2016-09-24 07:47] aslubsky commented on #2014
+1
Ubuntu 14.04.5 LTS

[2016-09-24 11:53] abdul-baseer commented on #972
The requested API endpoint was not found. Are you using the right HTTP verb (i.e. GET vs. POST), and did you specify your intended version with the Accept header?

I am getting above error too while creating a heroku remote

[2016-09-25 03:27] ransombriggs commented on #1979
@eguinosa that error comes from excon not being installed, you need to run `gem install excon` first before `ruby code.rb`

[2016-09-27 10:14] richardgroves commented on #2014
Having the same problem here:

`richard$ heroku version`
`heroku-toolbelt/3.43.11 (x86_64-darwin10.8.0) ruby/1.9.3
heroku-cli/5.3.5-3e5cdd9 (darwin-amd64) go1.6.2
You have no installed plugins.
`

Tried to update to make sure I have the latest:

`richard$ heroku update`
` ▸    Get https://cli-assets.heroku.com/branches/stable/manifest.json: dial tcp: lookup cli-assets.heroku.com on 8.8.4.4:53: can

[2016-09-27 13:14] ransombriggs commented on #2014
@mbarakaja @aslubsky are you using google DNS?  I can see from the debug output that richardgroves is but am wondering if you are as well.  So far we have only seen this issue with google public DNS, but have not been able to recreate it ourselves.  Could you please reply with which google DNS server you are using and I will start a ticket with them to try and resolve.  The underlying problem is t

[2016-09-27 13:20] aslubsky commented on #2014
No, I use my ISP DNS.
For fix this bug I set
```23.21.149.112 api.heroku.com```
 in my /etc/hosts

[2016-09-27 13:30] richardgroves commented on #2014
I've also tried several other DNS servers and have the same problem on them all.

eg.
37.235.1.174
162.211.64.20
84.200.69.80

[2016-09-27 13:54] ransombriggs commented on #2014
@richardgroves @aslubsky thanks for the quick response.  I went through the same issue as @richardgroves and ended up learning a fair amount about DNS in the process.  Apparently it asks for a response < 512, but a response is returned that is > 512 which is not to the DNS spec.  We are in the process of bumping golang from 1.6 to 1.7 to fix a Mac OS Sierra bug.  There is nothing in the official r

[2016-09-27 14:08] aslubsky commented on #2014
Ok. Thanks

[2016-09-27 14:31] richardgroves commented on #2014
Thanks - I've used the /etc/hosts hack as suggested by @aslubsky for now.

[2016-09-27 18:55] mbarakaja commented on #2014
@ransombriggs I'm not using Google DNS servers and **`error.log`** file doesn't appear in **`.heroku`** folder.

[2016-09-28 13:51] ransombriggs commented on #2014
@mbarakaja @aslubsky @richardgroves could you `heroku update` and try again, we just upgraded to go 1.7 and I want to see if it made a difference, but I have never been able to replicate this myself.  I tried the servers @richardgroves mentioned earlier but receive normal sized responses when I request using `dig`.

For what it is worth, here are links to [serverfault](http://serverfault.com/quest

[2016-09-28 13:56] aslubsky commented on #2014
Works fine

[2016-09-28 14:03] ransombriggs commented on #2014
@aslubsky great to hear!

[2016-09-28 14:14] richardgroves commented on #2014
I can't test today as the location I'm at is getting a 193 byte size response for api.heroku.com, but will be back in the problem location tomorrow and will re-test then.

[2016-09-28 16:23] mbarakaja commented on #2014
After the update, I am getting another error:

[code]
I will try to login in another computer. Maybe something is wrong with my O.S.

[2016-09-29 08:42] patricia93sousa opened #2018 "Certificate signed by unknown authority"
I'm trying to make the login in heroku but I get this:

    $ heroku login
    Enter your Heroku credentials.
    Email: xxx@gmail.com
    Password (typing will be hidden):
     ▸    Post https://api.heroku.com/login: x509: certificate signed by unknown authority

I already try to generate a ssl certificate but it cannot solve the problem. I don't know if it is problem or not of the ssl.

Can anyo

[2016-09-29 08:59] richardgroves commented on #2014
I'm back in the problem location, but can't actually update to the latest version:

`richard$ heroku update`
 `▸    Get https://cli-assets.heroku.com/branches/stable/manifest.json: dial tcp: lookup cli-assets.heroku.com on 8.8.4.4:53: cannot unmarshal DNS message`
` !    Use `brew upgrade heroku` to update`

Using the suggested brew upgrade gives:
`richard$ brew upgrade heroku`
`Error: heroku 3.43

[2016-09-29 09:51] darix commented on #1152
if you look at my spec file it is really simple

[2016-09-29 15:06] ransombriggs commented on #2014
@richardgroves I am assuming that you are running Mac OS Sierra.  There was an issue with our CLI with Sierra that we have shipped a fix for, but it appears that the issue may be interfering with the update process.  If you run the following commands, it should clear things out and download the fix.  I am sorry that this has not been a good experience for you.
[code]

[2016-09-29 15:36] richardgroves commented on #2014
@ransombriggs Correct - am on Sierra, and it hasn't been great. But the support response here has been good.

Anyway - ran your incantations and got myself updated:

`heroku --version`
`heroku-toolbelt/3.43.12 (x86_64-darwin15) ruby/2.3.0`
`heroku-cli/5.4.1-ae9db27 (darwin-amd64) go1.7.1`
`You have no installed plugins.`

Removed the /etc/hosts hacks and ran `heroku login`:

`heroku login`
`Enter

[2016-09-29 18:00] dickeyxxx commented on #2018
Are you behind a proxy? Make sure you follow the proxy instructions here: https://devcenter.heroku.com/articles/using-the-cli

[2016-09-29 18:04] patricia93sousa commented on #2018
` ▸    Post https://api.heroku.com/login: http: error connecting to proxy https://proxy.server.com:portnumber: dial tcp: unknown port tcp/portnumber`

After the export, I got this!

[2016-09-29 18:05] patricia93sousa commented on #2018
What is the server and port number?

[2016-09-29 18:13] dickeyxxx commented on #2018
I don't know what your proxy server is, you'll have to ask your system administrator.

[2016-09-29 18:19] patricia93sousa commented on #2018
Oh sorry, I thought that it was for heroku. I don't have proxy, I'm using direct connection.

The error is: Post https://api.heroku.com/login: x509: certificate signed by unknown authority when I make "heroku login"

[2016-09-29 18:22] dickeyxxx commented on #2018
That error means the CLI isn't recognizing api.heroku.com as a legitimate URL. Usually this happens because there is a MITM proxy that is intercepting the traffic and altering it. Something is between your internet and our servers that is causing it to happen.

[2016-09-29 18:24] patricia93sousa commented on #2018
But for example, I can't make `heroku login` on `bash on ubuntu on windows` but in Ubuntu, I can make the login! I don't understand the difference of connection between the both systems in same device.

[2016-09-29 18:29] dickeyxxx commented on #2018
well the CLI uses its own certs, you might have a root certificate that bypasses SSL (which I hope you don't), but if that is the case, you can set the certs with SSL_CERT_DIR or SSL_CERT_FILE I think.

[2016-09-29 18:48] patricia93sousa commented on #2018
I try this but without success :s

[2016-09-30 01:18] vikrantgithub opened #2019 "help me out"
[error.txt](https://github.com/heroku/heroku/files/501986/error.txt)

[2016-09-30 01:26] ransombriggs commented on #2019
@vikrantgithub you should submit a ticket at https://support.heroku.com/ so that it can be sent to the proper team to help you with your `git push` issue.  This repository is for issues with the CLI only, and if you submit to support they can forward your ticket to a team that will be able to better help you.

[2016-09-30 01:35] #2019 closed

[2016-09-30 01:49] vikrantgithub commented on #2019
@ransombriggs  thank you

[2016-10-12 10:49] pippocode opened #2021 "GPG .netrc and heroku-cli"
System Version:	macOS 10.12 (16A323)
I try to login with a ```.netrc``` and all is well.
After an encryption  (```.netrc.gpg```) it doesn't work anymore:
[code]
Reverted to ```.netrc``` in plain text all is well.

[2016-10-13 16:06] tnoonan-salesforce opened #2022 "Can't update a plugin"
After installing a plugin using a tag I cannot update it.

Using these commands doesn't result in an update:

heroku plugins:update
heroku plugins:update salesforce-alm@preview

I have to run:

heroku plugins:install salesforce-alm@preview

[2016-10-14 05:44] Rhyngoh opened #2023 "Heroku toolbelt CLI"
I'm very very new to coding and can't even get the programs installed >< I was trying to install the heroku-cli but it just times out and goes on an infinite loop to try to get it installed. I just downloaded it and put heroku into the command prompt. How do I go about fixing this?

[code]
retrying...

[2016-10-14 13:38] ransombriggs commented on #2023
@Rhyngoh the CLI pulls down extra software the first time that it runs and it appears that it had issues downloading said software.  It is a timeout, which may just be a temporary network issue, or it could possibly a firewall or other network configuration like a proxy server.   I would try again, to see it works now.

[2016-10-15 15:46] BrunoQuaresma opened #2024 "undefined method `[]' for nil:NilClass (NoMethodError)"
Error:       undefined method `[]' for nil:NilClass (NoMethodError)
Command:     heroku --version
Version:     heroku-toolbelt/3.43.12 (x86_64-linux) ruby/2.3.0
Error ID:    7a528888e1c9486abb7facbfe625ee58

[2016-10-17 00:57] BrunoQuaresma commented on #1961
@vijayvaradan it works! Thanks!

@ransombriggs maybe, this script can be add in the Ubuntu install doc.

[2016-10-18 16:52] tnoonan-salesforce commented on #2022
salesforce-alm is hosted on heroku-npm.herokuapp.com

Additionally, when I list plugins by running (heroku plugins). It doesn’t list the tag name. To me, it seems like it should so users know updates are coming from the named tag not latest.

[2016-10-20 05:10] Rhyngoh commented on #2023
I realized I just had to turn off my firewall to let it install. Closing thread now.

[2016-10-20 05:10] #2023 closed

[2016-10-21 15:35] #1961 closed

[2016-10-21 15:35] BrunoQuaresma commented on #2024
#1961

[2016-10-21 15:35] #2024 closed

[2016-10-21 19:36] nithinmannari opened #2026 "Unable to login into Heroku from terminal"
When I am trying to login into the Heroku from my terminal it throws me the following error:

Post https://api.heroku.com/login: dial tcp: lookup api.heroku.com on 8.8.8.8:53: read udp 172.17.1.223:33433->8.8.8.8:53: i/o timeout

[2016-10-21 19:42] nithinmannari commented on #2026
I tried running the following commands but still none seem to work. Please help me with this.

rm ~/.heroku/heroku-cli`
heroku update
heroku version

[2016-10-21 19:54] ransombriggs commented on #2026
@nithinmannari This is most likely due to this ongoing incident https://status.heroku.com/incidents/965  What does `heroku version` output at this time?  If you have a working CLI, you could try the `/etc/hosts` fix that they suggest in the incident.

[2016-10-21 20:01] nithinmannari commented on #2026
@ransombriggs Thanks for replying firstly!!

when I run just "heroku version" I am getting the version like this

heroku-toolbelt/3.43.12 (x86_64-linux) ruby/2.3.0
heroku-cli/5.2.39-010a227 (linux-amd64) go1.6.2
You have no installed plugins.

But when I run

rm ~/.heroku/heroku-cli`
heroku update
heroku version

I am not getting any response. Please see the screenshots attached. Also can you plea

[2016-10-21 20:12] ransombriggs commented on #2026
@nithinmannari first you need to [log in as root](https://community.c9.io/t/super-user-root-in-terminal/2274) then edit `/etc/hosts` from the terminal, and add the following line.
[code]
This is a temporary fix, and should be removed once the DNS outage has finished (I will update this issue when it is done)

[2016-10-21 20:19] nithinmannari commented on #2026
@ransombriggs I tried editing the /etc/hosts from the terminal after logging in as a super user, but it's telling that the permission is denied. Please find the screenshot attached.
<img width="877" alt="screen shot 2016-10-21 at 4 17 52 pm" src="https://cloud.githubusercontent.com/assets/14338021/19610351/17640046-97aa-11e6-82e7-1420eee0cece.png">

[2016-10-21 20:25] colt05-usr opened #2027 "23.21.149.112 safe IP?"
Hello!
I also had error #2014 and I set the ip for api.heroku.com to 23.21.149.112 in /etc/hosts. Is this a safe IP?
EDIT: I have to find the IP for each heroku domain to use or else it comes up with errors like `Could not resolve host: git.heroku.com`
Thanks.

[2016-10-21 20:45] ransombriggs commented on #2026
@nithinmannari calling just `/etc/hosts` there means that the console will try and execute that file.  What you want to do is modify it with your editor, something like `vi` or `emacs` or whatever command line text editor you are comfortable with.

[2016-10-21 20:49] ransombriggs commented on #2027
@colt05-usr heroku is impacted by the large scale dns outage today.  More information can be found [here](https://status.heroku.com/incidents/965) which includes a list of IP addresses to use until the outtage is over.  If you are not able to reach that site due to the DNS outtage, I am including the list here as well.

[code]

[2016-10-21 20:55] nithinmannari commented on #2026
@ransombriggs  I am new to Rails framework actually so sorry to bother you with my simple questions. Just one last thing. I am not able to locate the /etc/hosts file in my application. I tried searching every folder and sub folder.  Can you please me tell where can I find that to edit. Thanks.

<img width="367" alt="screen shot 2016-10-21 at 4 54 04 pm" src="https://cloud.githubusercontent.com/ass

[2016-10-21 21:05] ransombriggs commented on #2026
@nithinmannari `/etc/hosts` is a system file, not one from your project.  The files you see there in the dropdown are likely from `/home/ubuntu/workspace`.  Probably the easiest editor to use would be `nano` so if you go into the command line after did the sudo command and type `nano /etc/hosts` it should open the file for editing.  `nano` can be navigated by using the arrow keys and the keyboard

[2016-10-21 22:51] ransombriggs commented on #2027
@colt05-usr the platform issue has been resolved, could you try removing the entries from `/etc/hosts` and trying again?

[2016-10-21 22:52] ransombriggs commented on #2026
@nithinmannari the platform issue has been resolved, could you try removing the entries from `/etc/hosts` and trying again?

[2016-10-22 02:24] nithinmannari commented on #2026
Hi @ransombriggs

It is working now. The issue has been resolved. Thanks a lot for the help. Really appreciate that.

[2016-10-22 02:24] #2026 closed

[2016-10-22 21:46] colt05-usr commented on #2027
I can do `heroku login` now, thanks!

[2016-10-24 07:35] prash1012000 opened #2028 "logstash service not able to pick heroku credentials"
When I run logstash as a Service , I get the following from the logstash logs:
Enter your Heroku credentials.
Email: Password (typing will be hidden):

But running it from logstash bin manually runs fine with the heroku plugin. Please let me know if it is a issue.

[2016-10-24 08:40] #2028 closed

[2016-10-24 20:48] mbarakaja commented on #2014
Since the last update I'm not having more problems with the tool. So, this issue can be closed if you wish.

[2016-10-24 20:58] ransombriggs commented on #2014
@mbarakaja good to hear!

[2016-10-24 20:58] #2014 closed

[2016-10-27 22:36] k-sudhan opened #2029 "the scheme http does not accept registry part: localhost:8080 <or bad hostname?) <URI::InvalidURIError>"
Downloaded Heroku CLI for windows (7) successfully and tried running heroku login gets the below error :
**_the scheme http does not accept registry part: localhost:8080 <or bad hostname?) <URI::InvalidURIError>_**

I have already set the environment variable HTTP_PROXY as we are using this behind the firewall.  Tried uninstalling the application and re-installing it again (installs successfully b

[2016-10-28 14:01] ransombriggs commented on #2029
@k-sudhan It looks like you need to include the protocol, make sure that your environment variable follows the format from https://devcenter.heroku.com/articles/using-the-cli#using-an-http-proxy

[2016-10-28 15:34] k-sudhan commented on #2029
I have set the protocol correctly, as per the above url.  Still getting the same error.

![image](https://cloud.githubusercontent.com/assets/6579836/19812166/567e977a-9ce9-11e6-8630-7227ef3158d3.png)

[2016-10-28 17:10] GaryFNC opened #2030 "Parsing problem with CLI plugin"
We have built a CLI plugin which has a flag with the following properties
    name: 'name', char: 'n', hasValue: true, required: true,

When the user specifies    command -n xxx  or command --name xxx, everything works fine

But, when the user specifies -nxxx, the run function in the command receives xxx for context.flags.name.    Apparently, the parser doesnt know to reject -nxxx by requiring a s

[2016-10-28 21:34] ransombriggs commented on #2029
@k-sudhan I just shipped a fix for this, could you `heroku update` and try again?

[2016-10-31 15:45] #2027 closed

[2016-10-31 15:49] dickeyxxx commented on #2030
this is as expected since you can use multiple short characters like `heroku command foo -abc` where 'a', 'b', and 'c' are short chars

[2016-10-31 15:50] dickeyxxx commented on #2030
the space isn't required, is there a reason you think it should be?

[2016-11-03 11:29] GoncaloPT commented on #658
As mentioned before, this workaround doesn't work with useful commands like heroku run bash :(

[2016-11-03 13:57] ransombriggs commented on #658
@GoncaloPT do you connect through a SOCKS proxy?

[2016-11-04 14:29] adesinaadewale commented on #1967
THANKS RANSOMBRIGGS, it worked

[2016-11-04 21:59] #849 closed

[2016-11-06 01:08] GaryFNC commented on #2030
Sorry if I wasnt clear - I do understand that sometimes folks use the -abc form for multiple short chars, but from working with other CLIs over the years, that can be a dangerous pattern, IMHO.
In particular IF the --xxx starts with the same letter as the short char and takes an argument, it can be a  troubling issue of easy mistakes..
I'd suggest that IF a flag/option requires a value, then it sh

[2016-11-06 17:03] hillct opened #2032 "CLI app:Create fails to handle removal of existing 'heroku' git remote"
In the edge case of an app being deployed (successfully) via CLI, then deleted via the web dashboard, then deployed again via the CLI  using the command:

heroku cerate

The process appears to complete, reporting no errors, however the 'heroku' remote has not been updated even egardless of there being no error presented. Issuing 'git push heroku master' Will fail at this point. A review of:

git r

[2016-11-07 04:54] #1859 closed

[2016-11-07 17:52] thomasjmwb opened #2033 "JRuby Get Started Documentation Incorrect Cowsay Syntax"
https://devcenter.heroku.com/articles/getting-started-with-jruby#push-local-changes

Cowsay now takes a 'character' argument in addition to the message. Without specifying the type you get a number of arguments error

![image](https://cloud.githubusercontent.com/assets/1564699/20069036/d8e3c07e-a512-11e6-9c6d-9bea66f7a3f7.png)

[2016-11-07 20:03] dickeyxxx commented on #2030
I don't think I agree. It's useful to be able to do things like `heroku apps:restart -aappname`.

[2016-11-07 20:03] dickeyxxx commented on #2033
This project is for the Heroku CLI only. Please submit a [support ticket](https://help.heroku.com/) for help with your application.

[2016-11-07 20:03] #2033 closed

[2016-11-07 20:05] dickeyxxx commented on #2032
We only add the git remote if there isn't already one there. We can't remove the existing one since there might be a reason the user has it there, it could be a staging server or something else labeled `heroku`.

[2016-11-08 18:00] #1967 closed

[2016-11-11 19:42] dickeyxxx commented on #2022
plugins:update is a command for the ruby plugins, while the documentation isn't clear on this, the command is going to go away along with the rest of the ruby code this month

[2016-11-11 19:42] dickeyxxx commented on #2022
you can use `heroku update` to update plugins

[2016-11-13 18:27] Carringguns commented on #2032
I'm pretty lost. When I get it it moves well. Heh

[2016-11-14 14:54] ransombriggs commented on #2022
@dickeyxxx this was the issue that we talked about with how `dist-tags` are cached for 24 hours, so `heroku update` appears to not work, but it would after 24 hours.

[2016-11-14 16:36] JacobEvelyn opened #2035 "Allow querying of which team/org members have 2FA enabled"
Given that 2FA status is available for all users in an org in [this dashboard](https://devcenter.heroku.com/changelog-items/547), there should be an equivalent CLI feature. This would allow us to automate checks to ensure that all team members conform to our security policies.

Perhaps adding a flag to `heroku members`, like `heroku members --show-2fa` would be the easiest, but we could also use a

[2016-11-16 10:26] bhaider7 commented on #1939
Almost 6 months later, I got the exact same issue on the first interaction with heroku, not a good start.

I am behind a corporate firewall and git + npm are working perfectly fine (after one time proxy configuration).

The issue resolved automatically after sometime after initial frustration (and time consumption). Just shared my experience for any next user landing here until the issue is actual

[2016-11-16 14:11] hernanvicente commented on #514
+1 for implementing it. @csuhta your approach worked perfectly for me. Thanks!

[2016-11-17 03:21] malafeev opened #2036 "heroku login fails on OS X"
heroku login
fatal error: runtime: bsdthread_register error

runtime stack:
runtime.throw(0x30845f, 0x21)
	/usr/local/go/src/runtime/panic.go:566 +0x95 fp=0x7fff5fbffa30 sp=0x7fff5fbffa10
runtime.goenvs()
	/usr/local/go/src/runtime/os_darwin.go:88 +0xa0 fp=0x7fff5fbffa60 sp=0x7fff5fbffa30
runtime.schedinit()
	/usr/local/go/src/runtime/proc.go:450 +0x9c fp=0x7fff5fbffaa0 sp=0x7fff5fbffa60
runtime.r

[2016-11-17 14:36] ransombriggs commented on #2036
@malafeev is the environment variable `$DYLD_INSERT_LIBRARIES` set, or do you have a product called `Websense` installed?

[2016-11-18 03:14] malafeev commented on #2036
I have installed Forcepoint TRITON AP-ENDPOINT.
From the same company I suppose as Websense

[2016-11-21 18:37] mkou opened #2037 "URGENT Timeout when connecting to DB"
Hey all,

My app went down out of the blue. I dig a bit a realised it was a postgres timeout error. (This is a rails application)

In my heroku logs I have
[code]

If I try to run db:migrate I get

[code]

 heroku pg:diagnose gives me a  -> !    Couldn't finish job in time
Same issue when trying ``heroku pg:killall``

[2016-11-21 19:14] ransombriggs commented on #2037
@mkou could you please file a ticket at https://support.heroku.com/ this is for CLI support only and if you file a ticket, the appropriate team can better help you with your database issues.

[2016-11-21 19:17] mkou commented on #2037
Yes I did I was hoping to get help more quickly here.
Thank you anyways!

[2016-11-21 19:17] #2037 closed

[2016-11-21 19:19] trimble commented on #1203
This issue looks stale.

I will attempt to recreate, but can you tell us if it's still a problem?

Thanks!

[2016-11-21 20:08] trimble commented on #840
I agree, Something like ```heroku fork --from ruby-getting-started --to my-geting-started``` would be a nice kick-start for beginners. Maybe it plugs into https://devcenter.heroku.com/articles/getting-started-with-ruby#prepare-the-app somewhere?

However, right now that results in ```▸    You do not have access to the app ruby-getting-started.```

[2016-11-21 20:32] dickeyxxx commented on #840
Right now there is no concept of a public app

[2016-11-22 16:34] GaryFNC commented on #2030
There are examples out there - and yes, commands arent consistent.    grep does allow -file to be "ile", but doesnt allow -dir to be an action "ir".    git will complain if you try to do git branch -dfoobar and asks if you meant --, but will recognize git branch --del foobar without the full delete.     And it doesnt accept git -deletefoobar....
There are cases where you might want to combine sing

[2016-11-22 17:15] dickeyxxx commented on #2030
It's not possible to support multiple short flags with values in the same argument like `-nxxxpzzz`. There is no way for the parser to delimit. That is fine though since it's just optional shorthand.

I don't follow your last point if you want to elaborate. However I am going to close this ticket as this is working as designed.

[2016-11-22 17:15] #2030 closed

[2016-11-22 21:12] trevorturk commented on #840
Yes, the "Heroku Button" is wonderful!

[2016-11-23 01:19] #840 closed

[2016-11-23 02:59] seanknox commented on #1203
No longer using this feature so can't say. Thanks for checking in, closing.

[2016-11-23 02:59] #1203 closed

[2016-11-23 13:04] Dorian opened #2038 "Multi line config values are not valid when exported to a `.env` file"
With `heroku config -s` I get multilines values as:

[code]

But when loading it with Dotenv, I get:

The supported way to do it is: `KEY="----\nvalue\n----"` (double quotes and `\n`s).

I have multiline values for certificates, RSA private keys, etc.

[2016-11-27 15:39] kalyandechiraju opened #2039 "Heroku login fails on macOS"
heroku login is not working on macOS from a long time. Unable to use heroku because of this.

Error:

Post https://api.heroku.com/login: dial tcp: lookup api.heroku.com on 8.8.4.4:53: read udp <ip>:<port>->8.8.4.4:53: i/o timeout

Tried reinstalling, but same error.

[2016-11-28 02:50] dickeyxxx commented on #2039
This is a networking error on your side. It doesn't look like the dns is configured correctly.

[2016-11-29 15:41] rnradon commented on #671
Hi,
I get this error while using any heroku command from my linux terminal.

SIGILL: illegal instruction
PC=0x5bbadf m=6

goroutine 18 [running]:
crypto/sha256.block(0xc42008b600, 0xc4201ae1e0, 0x80, 0x96)
	/usr/local/go/src/crypto/sha256/sha256block_amd64.s:733 +0x286f fp=0xc42003fb60 sp=0xc42003f938
crypto/sha256.(*digest).Write(0xc42008b600, 0xc4201ae1e0, 0x96, 0x96, 0x0, 0x0, 0x87e738)
	/usr/l

[2016-11-29 16:09] ransombriggs commented on #671
@rnradon what version of linux are you running?  Could you paste in the contents of the following commands which should help me try and recreate that error.
[code]

[2016-11-29 16:12] rnradon commented on #671
output for uname -a => Linux radon 4.4.0-47-generic #68-Ubuntu SMP Wed Oct 26 19:39:52 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
output for cat /etc/lsb-release => DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.1 LTS"

[2016-11-29 16:24] ransombriggs commented on #671
@rnradon could you try running the command again?  I have some leads and knowing if this is intermittent or always happening will help me track things down better.

[2016-11-29 16:44] ransombriggs commented on #671
@rnradon could you also include the output of the following command?  I am trying to figure out if this is an architecture support issue, or if it is a programming bug.
[code]

[2016-11-29 16:56] rnradon commented on #671
uname -a  => Linux radon 4.4.0-47-generic #68-Ubuntu SMP Wed Oct 26 19:39:52 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

cat /etc/lsb-release =>DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.1 LTS"

cat /proc/cpuinfo =>
processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 60
model name	: Intel(R) Core(TM) i3-4000M CPU @ 2.40GHz
stepping	: 3

[2016-11-29 17:28] trimble commented on #713
This seems to be resolved. Can we close it?

[2016-11-29 17:31] trimble commented on #1038
Looking to clean things up in the archives...this issue seems to have been overcome by time and events. Can we close this one?

[2016-11-29 17:31] #713 closed

[2016-11-29 17:42] trimble commented on #2039
I just tried:

[code]

System info:
[code]

@kalyandechiraju, did you sort this out? Can we close this issue?

[2016-11-29 17:51] trimble commented on #2009
This looks like an issue that turned out to be a networking issue. @ghost, can we close it?

[2016-11-29 18:27] trimble commented on #894
@indyarocks, this looks like an old issue. Can we close it?

I tried to recreate:
[code]

My system info:
[code]

[2016-11-29 18:28] kalyandechiraju commented on #2039
@trimble Am still facing the same issue.

heroku-toolbelt/3.43.11 (x86_64-darwin10.8.0) ruby/1.9.3
heroku-cli/5.5.2-e6595d8 (darwin-amd64) go1.7.3

[2016-11-29 18:30] kalyandechiraju commented on #2039
With previous version of heroku, I used to get DNS lookup failed error. But with this new version, that is gone but i/o time out is troubling a lot.

[2016-11-29 18:36] trimble commented on #2039
Does `nslookup api.heroku.com` help us sort this out? (I'm leaning toward a problem outside of the toolbelt.)

Mine reliably gives:
[code]

If your system can't reach api.heroku.com, login won't work. As for the change in error message, I'll look and see if that's explained somewhere.

[2016-11-29 18:42] kalyandechiraju commented on #2039
I got the same.

Non-authoritative answer:
api.heroku.com	canonical name = elb082153-1559744486.us-east-1.elb.amazonaws.com.
Name:	elb082153-1559744486.us-east-1.elb.amazonaws.com
Address: 54.243.105.250
Name:	elb082153-1559744486.us-east-1.elb.amazonaws.com
Address: 23.21.149.112
Name:	elb082153-1559744486.us-east-1.elb.amazonaws.com
Address: 54.225.188.133

[2016-11-29 18:45] kalyandechiraju commented on #2039
@trimble There is no change in error message now!  Am still facing

Post https://api.heroku.com/login: dial tcp: lookup api.heroku.com on 8.8.4.4:53: read udp :->8.8.4.4:53: i/o timeout

DNS issue was with older version of heroku CLI.

[2016-11-29 20:20] trimble commented on #2015
`db:push` and `db:pull` are deprecated...which leads to issues with heroku-taps.

See the comments here for a decent explanation and some workarounds: https://github.com/ricardochimal/taps/issues/92#issuecomment-11996909

[2016-11-30 18:30] trimble commented on #870
@ttunguz, I have reliably been able to run `heroku run rake` on a few apps recently. This issue looks to have been resolved. Are you still experiencing the problem? Can we close this issue?

[2016-11-30 18:34] trimble commented on #1986
@srameez, I am currently able to run both `heroku login` and `heroku status` without the internal error that you reported.

[code]

Have you tried the suggestion @dickeyxxx made above? Are you now able to run the commands without error? Is this a stale issue that we can now close?

[2016-11-30 18:43] ttunguz commented on #870
Yes, let's close it. thanks

On Wed, Nov 30, 2016 at 10:30 AM Todd Trimble <notifications@github.com>
wrote:

[2016-12-02 20:15] trimble commented on #794
Is this a duplicate of #731?

(They both seem similar to #302, but the issue creation dates make me think that the resolution to #302 evidently didn't completely resolve #731 and this one.)

//cc @katukun @geemus

[2016-12-03 19:22] trimble commented on #603
Did a87da812 remove the last bit of this maybe? Can this maybe be closed (again)?

[2016-12-04 17:29] vferko commented on #1366
On windows, setting the file as hidden will cause this too.

[2016-12-05 08:09] willex commented on #1937
Hi, I experience the same problem. Is here a workaround or force to do this?

[2016-12-05 15:20] geemus commented on #794
Hard to say. In my experience it usually stemmed from non utf characters for path or username, so some of the changes in the issues your link to work around this by forcing utf. It was always a set of issues I had trouble reproducing, however, so I'm not certain how "solved" it would be here or not.

[2016-12-05 16:15] ransombriggs commented on #1937
@willex I checked the CLI code and there is not a good way to force this in the CLI given how the API works.  Could you please file a bug report at https://support.heroku.com and the database team should be able to clean this for you / fix the underlying problem where schedules are not deleted when a database is removed.

[2016-12-05 18:13] simonneutert commented on #2032
check your current git setting of a project: `cd to/your/project`

then (or open it in an editor)
`cat .git/config`

This file cannot know when you delete a repo on github ;)
So this is the place to edit, when you change your heroku project.

[2016-12-05 18:14] simonneutert commented on #1999
did you try `gem update pg`

[2016-12-05 18:16] simonneutert commented on #1980
please try `heroku run rake db:migrate`

If you are using rake in your rails app.

[2016-12-05 18:22] simonneutert commented on #1133
please close this issue, thank you 👍

[2016-12-06 20:20] trimble commented on #1428
I just tried this with success:
[code]
This issue may be stale. It may also be the same issue that's reported in #1074. To help with investigation, can you retest or provide more information about reproducing?

Thanks!

[2016-12-06 20:22] trimble commented on #1438
This looks like it might be a duplicate of #1428.

/cc @dickeyxxx @ransombriggs

[2016-12-07 14:00] Valkenvania opened #2042 "pg:copy fails on Mac OS with "Did not recognize your adapter specification""
Mac OS X 10.12.1
heroku-toolbelt/3.43.15 (x86_64-darwin10.8.0) ruby/1.9.3
heroku-cli/5.5.5-789c5b7 (darwin-amd64) go1.7.4
You have no installed plugins.

I'm following the database upgrade instructions here https://devcenter.heroku.com/articles/upgrading-heroku-postgres-databases

This step fails:
`heroku pg:copy [source] [color] --app [app]`

Seems like a clear case of upgrading libgmp, so I ran

[2016-12-07 14:44] dickeyxxx commented on #2042
the beta may have a fix for this, can you try `heroku update beta`?

[2016-12-07 14:54] Valkenvania commented on #2042
That looks promising - I've already copied the database using my Parallels instance and the Windows CLI, so I can't run the exact command, but
`heroku pg:copy a b --app [app]`

was a reliable way to repro the issue and now I think it's actually attempting to run the command

 ▸    Couldn't find that add on.

gmp 6.1.1 still causes a segfault with the Heroku beta but I really don't want to dig into

[2016-12-07 23:19] cfischer83 commented on #1970
Did this ever get resolved? I'm having a similar error message.

[2016-12-08 05:54] fylooi commented on #1970
Nope, moved on Windows so it's not an issue any more.

[2016-12-08 07:55] divshriv opened #2043 "Need help for Heroku installation."
Hi All, I am new to Heroku and need help to install it on windows. I have installed Heoku Toolbelt 3.43.15, but when I am trying to check the version through command line with command "heroku --version" it shows "heroku-cli : Installing CLI.." and then error as shown in the screen shot.
![image](https://cloud.githubusercontent.com/assets/24450685/21001998/6bda0ea8-bd49-11e6-9b4f-dab8b3ce6812.png)

[2016-12-08 12:37] valeriemirandasy opened #2044 "Heroku client internal error"
I am having trouble installing Heroku CLI (or Heroku Toolbelt) and thus, I am getting this error while running `heroku --version`

[code]

[2016-12-08 15:58] jeisenlo commented on #1970
I am getting a similar issue... any suggestions?

[2016-12-10 13:28] Valkenvania commented on #2042
The beta seems like it would work and I'm no longer able to reproduce the issue (since I've accomplished my task through a different route) - should I close this?

[2016-12-10 16:05] carduque opened #2045 "Error updating heroku cli on windows"
heroku-cli: Installing CLI... 18.53MB/18.53MB !    Heroku client internal error.
 !    Search for help at: https://help.heroku.com
 !    Or report a bug at: https://github.com/heroku/heroku/issues/new

    Error:       Permission denied @ rb_sysopen - C:\Users\cduquemarcos\AppData\Local/heroku/cli/lib/node.exe (Errno::EACCES)
    Command:     heroku pg:psql
    Version:     heroku/toolbelt/3.43.9

[2016-12-11 02:04] davidtaylorjr commented on #1116
Has this been resolved?

[2016-12-12 00:20] jugutier opened #2046 "Broken toolbelt release"
Hi,
After spending two days trying to get this:https://s3.amazonaws.com/assets.heroku.com/heroku-toolbelt/heroku-toolbelt.pkg

to work on my computer I realized that brew installation works but this doesn't (gives segmentation fault on el-capitan and sierra). Please update the build on this link or only point to the brew installation guide.

--J

[2016-12-12 02:52] kartiknagappa commented on #2018
This is going to sound stupid but I had the same problem and spent several hours trying to figure out what was going on. In the end, I shutdown/restarted my mac and it started working. Gah!

[2016-12-12 03:14] ransombriggs commented on #2046
For others who may have encountered this issue when trying to install.  I was able to replicate this issue and reverted the installer to the previous version in order to stop this bug.  If you download from this link it should work now.

[2016-12-12 03:41] ransombriggs commented on #2046
@jugutier Thanks for reporting this issue, I reverted the release so that others do not encounter the bug.  Sorry for the inconvenience that it caused you.

[2016-12-12 03:45] jugutier commented on #2046
np @ransombriggs . Thanks for fixing it! While I have your attention, could I ask if it's possible to retrieve source code deployed on a dyno for which I have access but don't have access to the github repo that's linked to it?

[2016-12-12 03:55] ransombriggs commented on #2046
@jugutier https://devcenter.heroku.com/articles/git-clone-heroku-app

[2016-12-12 03:59] jugutier commented on #2046
you're the man! I had been trying that but with the wrong app name.. Closing issue now 👍

[2016-12-12 03:59] #2046 closed

[2016-12-12 09:12] #2044 closed

[2016-12-12 14:54] trimble commented on #1556
Any new news on this one, or should it be closed for cleanup?

[2016-12-12 16:36] dickeyxxx commented on #2042
yeah the beta will be launched within the next couple of days

[2016-12-12 16:36] #2042 closed

[2016-12-12 17:55] #1556 closed

[2016-12-12 18:39] tfortune-ag commented on #2036
I getting this exact error too

[2016-12-12 19:27] duane-unitive opened #2047 "heroku run -- myapp --help fails"
When running a remote command line with `heroku`, the `--help` and `-h` options fail locally without running the remote.

[code]

The `--` option should separate command line options for the sub-command from the command line options for `heroku`.

[2016-12-13 08:44] lifeofguenter commented on #2039
@dickeyxxx in what way would Google's Public DNS be misconfigured? I can resolve the hostname via `dig` with no problems.

[2016-12-13 08:54] dickeyxxx commented on #2039
No idea. This is an issue attempting to reach google's servers, it has nothing to do with our code.

[2016-12-13 08:58] dickeyxxx commented on #2045
This is likely a problem with your antivirus

[2016-12-13 09:03] lifeofguenter commented on #2039
Sure, but how come `dig` and any other tool using DNS works:

[code]

Hence my question: in what way would it be possible for DNS to work perfectly normal but not within the heroku-cli ? E.g. how is our DNS misconfigured (because then I can search for a fix)?

[2016-12-13 13:44] Sevcansevcan commented on #830
i have the same issue

[2016-12-13 16:23] dickeyxxx commented on #2039
Are you having the same error as the user above?

[2016-12-13 18:23] Alain1405 opened #2048 "heroku pg:pull ignoring PGPORT when calling `createdb`"
I have run this command a thousand times and it worked until some days ago.
I run a local potsgres server on port 5444.

[code]

When creating the db, port 5432 is used instead.

[2016-12-13 18:34] kalyandechiraju commented on #2039
Even after switching to my default DNS provider, am facing the same issue. (as above which was with google dns servers)

[2016-12-13 18:34] kalyandechiraju commented on #2039
Even after switching to my default DNS provider, am facing the same issue. (as above which was with google dns servers)

[2016-12-13 20:01] ransombriggs commented on #2048
@ Alain1405 I just shipped a new version (5.5.10) you can get by running `heroku update`.  Please let me know if that fixes this bug.

[2016-12-13 20:09] ransombriggs commented on #830
@Sevcansevcan this is almost always a DNS issue, since this issue appears to be against very old code, would you mind pasting the error you receive currently, as well as the output of `heroku version`?

[2016-12-13 20:49] Alain1405 commented on #2048
Thanks @ransombriggs , that definitely fixed it partially. Now the PGPORT env variable is honored.
However I now get, at the end of the procedure:

[code]

I don't understand if the SSL message and the extension message are related. For sure after all pg_dums and pg_restores the local db is not in place. I'm figuring out how to debug it.

[2016-12-14 09:14] Sevcansevcan commented on #830
Hi,

Yes sure I have attached the error code.
You can read the version and some other details in the picture below.

[cid:image001.jpg@01D255F2.DC15F9C0]

From: Ransom Briggs [mailto:notifications@github.com]
Sent: Dienstag, 13. Dezember 2016 21:09
To: heroku/heroku <heroku@noreply.github.com>
Cc: Kertis, Sevcan (GE Healthcare) <Sevcan.Kertis@ge.com>; Mention <mention@noreply.github.com>
Subject:

[2016-12-14 15:56] dickeyxxx commented on #2039
there really isn't anything we can do about it if you can't connect to `api.heroku.com`

[2016-12-14 16:28] kalyandechiraju commented on #2039
Am unable to connect only through heroku-cli...

Kalyan DechirajuOn Dec 14, 2016 9:26 PM, Jeff Dickey <notifications@github.com> wrote:

[2016-12-14 18:57] trimble commented on #1123
If this is cleared up now, maybe we can close this issue?

/cc @dickeyxxx

[2016-12-17 03:17] trimble commented on #572
Reading through this one was a fun trip through the past...but it can probably be closed now...maybe?

/cc @dickeyxxx

[2016-12-17 05:20] thirota commented on #2018
I encountered same error on Mac Yosemite and Sierra.
In my case,  I could login after turning off my AntiVirus software(Kaspersky Internet Security)...

[2016-12-17 10:22] #572 closed

[2016-12-21 00:19] trimble commented on #867
I just gave this a whirl and got output. @disconnectme, can you check and see if this has been resolved somewhere along the line?

If so, maybe we can convince @dickeyxxx to close it?

[2016-12-22 18:30] trimble commented on #1585
@ZeusIV, this issue may have become stale. Are you still experiencing this problem? Have you tried with the newest toolbelt release?

Thanks for any info you can provide. (And, if this problem has been resolved let's see about getting it closed.)

[2017-01-19 21:57] houssem-yahiaoui commented on #2018
I've encountered the same problem but was the solution for my situation (running macOS Sierra) was going in **sudo** mode.

[2017-01-20 16:24] emilyemoss commented on #2018
Similar issue after installing heroku via homebrew. Running `heroku update` and then `heroku login` again solved the issue for me.

[2017-01-21 22:12] jh0274 opened #2049 "Error Running Heroku CLI After Successful Install"
Hi

I followed the instructions to install the Heroku CLI from here

https://devcenter.heroku.com/articles/heroku-cli

I then tried to run 'heroku --version' and i get the following error:

"dyld: Symbol not found: _SecCertificateCopyNormalizedSubjectContent
  Referenced from: /usr/local/bin/heroku
  Expected in: flat namespace

Trace/BPT trap"

Can you help with this please?

[2017-01-21 22:14] dickeyxxx commented on #2049
are you on snow leopard?

[2017-01-21 23:02] jh0274 commented on #2049
Hi Mac OS 10.5.8.. I think I have found the problem.. CLI only works with 64bit right?

On 21 Jan 2017 10:14 p.m., Jeff Dickey <notifications@github.com> wrote:
are you on snow leopard?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/heroku/legacy-cli/issues/2049#issuecomment-274291690>, or mute the thread<https://github

[2017-01-21 23:27] dickeyxxx commented on #2049
must be 10.7+

[2017-01-21 23:27] #2049 closed

[2017-01-29 19:15] DrFrolla commented on #2018
Mac OS 10.12.2 Sierra + antivirus Kaspersky...
disabling the antivirus everything works correctly

[2017-02-02 14:43] alxpck commented on #2018
I had a similar issue in Sierra 10.12.2. Restarting iTerm2 did the trick for me.

[2017-02-06 15:15] ransombriggs commented on #2018
@alxpck @DrFrolla @emilyemoss @houssem-yahiaoui @thirota @patricia93sousa We were waiting on the `1.8` release of `golang` to get this fix, but saw that it was backported to the `1.7` and released as part of the `1.7.5` release.  Could you `heroku update` and verify that you have `heroku-cli/5.6.17-bee0f80 (darwin-amd64) go1.7.5` and let me know if you see this error again?

https://github.com/gol

[2017-02-06 15:22] ransombriggs commented on #2018
Note: `heroku update` may not work because of this error, but this error is intermittent, so either you can try again or run the installer from `https://cli.heroku.com` to fix this error.

[2017-02-06 15:32] alxpck commented on #2018
@ransombriggs I just checked `heroku version` and I'm already at heroku-cli/5.6.17-bee0f80 (darwin-amd64) go1.7.5 as I was at the time of the error.

Weirdly, all I had to do was quit my terminal (iTerm2) session and launch a new one and it started working.

[2017-02-06 15:44] ransombriggs commented on #2018
@alxpck the heroku CLI automatically updates in the background so it may have auto updated you after you saw the error four days ago without you manually requesting an update.  Let me know if you see the error again so that I can continue to investigate this (I upgraded to Sierra to debug this error and have not seen the error since updating heroku, but since it was an intermittent error I am not

[2017-02-10 18:36] Guzim commented on #362
Same for me. Deploy takes forever

[2017-02-10 19:45] ransombriggs commented on #362
@Guzim this may be due to an incident right now with the heroku platform (https://status.heroku.com/), I will update this issue once the incident is over so that you can try again.

[2017-02-10 20:58] ransombriggs commented on #362
@Guzim could you try your deploy again, the incident appears to have been fully resolved.

[2017-02-10 23:01] #2022 closed

[2017-02-11 18:45] Looserof7 opened #2050 "Heroku login fails on Linux"
I have tried the same thing several times, It wasn't even successful once, I always get this error
Post https://api.heroku.com/login: dial tcp: lookup api.heroku.com on 192.168.1.1:53: read udp 192.168.1.29:50692->192.168.1.1:53: i/o timeout

Please fix it, It is totally annoying, If there is any other alternative solution to the problem, In need of any log data, tell my how to collect, I will pos

[2017-02-12 05:57] #2050 closed

[2017-03-02 19:18] Taytay commented on #674
@dickeyxxx : This might be well known, but I can still reproduce it with a fair amount of command output and a slow network. When this has bitten us in the past though, it's happened on very good networks, so I have a hunch that a network hiccup of any sort will sever the connection and cause it to truncate the output. For my tests, I am running the following command. (Forgive the copy paste - the

[2017-03-03 06:41] carduque commented on #2045
I'm fixing it removing folder C:\Users\cduquemarcos\AppData\Local\heroku
But it is happening once-twice a week. Very Annoying.

[2017-03-07 16:08] ransombriggs commented on #2045
@carduque what antivirus software are you using?

[2017-03-07 16:09] carduque commented on #2045
Sophos

[2017-03-17 05:13] nabinno commented on #1986
@srameez I have the same issue with setting `export PATH="/usr/local/heroku/bin:$PATH` or `export PATH="~/.local/share/heroku/cli/bin:$PATH`, and then following solves it.

[code]

[2017-03-21 13:56] shanejones commented on #2039
Are you using Little Snitch at all?

Just spotted that nothing works if the network monitor is on.

[2017-03-31 08:58] mrhead opened #2053 "Upgrade net-ssh for better Ruby 2.4 support"
This gem depends on `net-ssh` 2.9.2 which produces `constant OpenSSL::Cipher::Cipher is deprecated` warnings. The comment in the gemspec file says that it is locked on this version to preserve Ruby 1.9.3 support.

So in order to support Ruby 2.4 we should get rid of Ruby 1.9.3 support first.

[2017-03-31 14:30] dickeyxxx commented on #2053
This project is not under current development

[2017-03-31 14:30] #2053 closed

[2017-04-03 10:13] janswist opened #2054 "Heroku client internal error"
Tried to update CLI today. This is what I got:

[code]

Error.log:
[code]

[2017-04-08 11:27] TWiStErRob commented on #1920
I have Windows Defender and Avira Antivirus, both of them are turned off (Windows 10 Security Center confirmed they're in Snoozed state), but the problem still appears.

It was trying to update 3.42.39 to 3.99.2 via `heroku update`, in the end I just uninstalled my old installation and Ruby 1.9.2 it had inside, and installed the new version (5.8.1) from https://devcenter.heroku.com/articles/heroku

[2017-04-11 20:57] ransombriggs commented on #2054
@janswist sorry for the late response.  If you are not using any custom ruby plugins (paste `heroku plugins` if you are uncertain and I can tell you if you are) I would suggest installing from https://cli.heroku.com again, as that removes the ruby code that may be causing this issue.

[2017-05-11 22:12] wooyek commented on #2045
This also happens when antivirus is disabled

[2017-05-16 08:05] brickgale commented on #748
+1

[2017-05-18 04:05] DouglasCAyers commented on #2054
I was getting same error as @janswist on Windows 10 64-bit.

Uninstalling `Heroku CLI` and `Heroku Toolbelt` and `Ruby` then [re-installing Heroku CLI](https://devcenter.heroku.com/articles/heroku-cli#download-and-install), as suggested by @ransombriggs, resolved my issue.

[2017-05-28 07:25] joniba opened #2056 "Permission denied @ rb_sysopen"
heroku-cli: Installing CLI... 18.45MB/18.45MB !    Heroku client internal error.
 !    Search for help at: https://help.heroku.com
 !    Or report a bug at: https://github.com/heroku/heroku/issues/new

    Error:       Permission denied @ rb_sysopen - C:\Users\jbena\AppData\Local/heroku/cli/lib/node.exe (Errno::EACCES)
    Command:     heroku logs --tail -a tabit-api-hub
    Version:     heroku/to

[2017-06-02 18:26] jeffdill2 opened #2057 "CLI update has broken CLI"
Tried running `heroku logs` this morning and it automatically pushed an update:

`heroku-cli: Updating to 6.8.0-e0f00ce... 12.6 MB/12.6 MB`

During the update, this error occurred:

[code]
Any time I try to run the CLI now, the same error message pops up, preventing me from using it.

[2017-06-02 21:09] dickeyxxx commented on #2057
first, try reinstalling from cli.heroku.com. This may be an issue with 64/32-bit. Does that file actually exist?

[2017-06-08 10:05] chawarong commented on #2057
I have the same issue recently. The file doesn't exist.

[code]

I have tried uninstall and reinstall from brew, but the issue still occurs.

[2017-06-11 19:39] julienwat75 opened #2058 "issue with heroku login console"
Hello i ve got issue when i want to connect to my heroku console or heroku login:

!    Heroku client internal error.
 !    Search for help at: https://help.heroku.com
 !    Or report a bug at: https://github.com/heroku/heroku/issues/new

    Error:       undefined method `[]' for nil:NilClass (NoMethodError)
    Command:     heroku -version
    Version:     heroku-toolbelt/3.43.12 (x86_64-linux)

[2017-06-12 16:50] jeffdill2 commented on #2057
@dickeyxxx I've tried reinstalling – no go. No, that file/directory does not exist.

[2017-06-13 12:39] Narvey commented on #748
Has anyone made a ticket for this yet? +1's don't do much good if this will not be seen by the correct team.

[2017-06-13 16:05] zeke commented on #748
`heroku fork` is not a supported thing any more. Consider using [review apps](https://devcenter.heroku.com/articles/github-integration-review-apps) instead.

[2017-06-13 17:21] dickeyxxx commented on #748
closing as fork is deprecated

[2017-06-13 17:21] #748 closed

[2017-06-13 17:22] dickeyxxx commented on #2058
please reinstall, your CLI is out of date

[2017-06-13 17:23] dickeyxxx commented on #2056
please reinstall, you're using the old CLI

[2017-06-13 17:26] dickeyxxx commented on #2047
this is fixed now

[2017-06-13 17:26] #2047 closed

[2017-06-22 14:18] agi-eng-innovation opened #2059 "heroku client broken, throws errors"
Last week everything was fine, this week whenever I run Heroku command line client I get the following results:

AGIML-A05567 ~$ heroku --version
/Users/aschulak/.local/share/heroku/client/bin/heroku: fork: Resource temporarily unavailable
/Users/aschulak/.local/share/heroku/client/bin/heroku: line 12: cd: : No such file or directory
/Users/aschulak/.local/share/heroku/client/bin/heroku: line 18:

[2017-06-22 15:22] dickeyxxx commented on #2059
As mentioned in the support ticket, your system is likely out of file descriptors. You can verify with `ulimit`. A restart is probably in order.

[2017-06-22 15:34] agi-eng-innovation commented on #2059
Unfortunately a reboot did not help and I continue to get the same errors.

[2017-06-22 16:06] #2058 closed

[2017-06-22 18:33] dickeyxxx commented on #2059
you could try deleting ~/.local/share/heroku

[2017-06-22 19:04] agi-eng-innovation commented on #2059
Bingo, thank you!

[2017-06-22 19:04] #2059 closed

[2017-07-05 17:35] jedrekdomanski commented on #806
Did you manage to resovle this problem?

[2017-07-05 17:41] dickeyxxx commented on #806
you should not be receiving this error at all anymore, the CLI isn't even written in ruby. Just reinstall it

[2017-07-05 17:42] #806 closed

[2017-07-06 09:31] shoaib-iqbal opened #2060 "Heroku client internal error"
I have installed new heroku cli wget -qO- https://toolbelt.heroku.com/install-ubuntu.sh | sh
on Ubuntu 14.04, I am gettig this error when checking heroku --version.
` !    Heroku client internal error.
 !    Search for help at: https://help.heroku.com
 !    Or report a bug at: https://github.com/heroku/heroku/issues/new

    Error:       undefined method `length' for nil:NilClass (NoMethodError)

[2017-07-06 20:01] dickeyxxx commented on #2060
The CLI is installed as the old legacy gem and is crashing. You need to uninstall the gem or change your path to include the CLI

[2017-07-06 22:04] coreyhaines opened #2061 "nil error when running just "Heroku""
When I run
`heroku`

I get this error
[code]
can't convert nil into String
1014 /Users/coreyhaines/.heroku/client/lib/heroku/jsplugin.rb:127:in `system'
1015 /Users/coreyhaines/.heroku/client/lib/heroku/jsplugin.rb:127:in `run'
1016 /Users/coreyhaines/.heroku/client/lib/heroku/jsplugin.rb:17:in `try_takeover'
1017 /Users/coreyhaines/.heroku/client/lib/heroku/cli.rb:29:in `start'
1018 /usr/local/he

[2017-07-06 23:03] dickeyxxx commented on #2061
It's possible it may fix itself if you run `heroku update`, but it would be best to reinstall. Right now it's still using the same legacy ruby code that was installed when you first installed the CLI and it's not interfacing with the new node code right. I'm not sure what the real problem is, but a reinstall should definitely fix it since it's in that legacy codebase.

[2017-07-07 14:10] coreyhaines commented on #2061
`heroku update` crashed. However, I reinstalled it via homebrew, and it works now. Thanks!

[2017-07-07 14:10] #2061 closed

[2017-07-08 09:38] sonu1989 opened #2062 "undefined method `split' for nil:NilClass (NoMethodError)"
Hi Team,

I am facing below issue when I run the command `heroku restart`

`Error:       undefined method `split' for nil:NilClass (NoMethodError)
    Command:     heroku restart
    Version:     heroku-gem/3.41.5 (i686-linux) ruby/2.2.2
    Error ID:    bf37840fdb15491895c50a66b74e2d88
`

Could you help me what us issues.

Thanks you so much in advance for any kind of help.

[2017-07-08 13:41] dickeyxxx commented on #2062
Please reinstall your CLI

[2017-07-08 14:53] sonu1989 commented on #2062
Thank you! I will install

[2017-07-20 23:18] babzcraig commented on #2018
Sudo worked for me. I think it has something to do with the root certificate bypassing the SSL cert. I am using a mac on which I am not the root user even though I have admin privileges

[2017-08-01 11:04] neilmiddleton opened #2063 "Don't dump creds when login fails"
From https://support.heroku.com/tickets/498448

[code]

[2017-08-01 13:16] dickeyxxx commented on #2063
CLI is out of date

[2017-08-01 13:16] #2063 closed

[2017-08-08 06:43] vaishnavigandhi opened #2064 "when i m installing heroku -cli and run that program on my cmd window, i get error like this....!Xz:invalid header magic bytesef"

[2017-08-10 23:06] dickeyxxx commented on #2064
are you behind a proxy?

[2017-08-12 14:27] jzcfamily commented on #2018
git 中heroku login 登录不上，总是报错：
 ▸    HTTP Error: https://api.heroku.com/login 400 Bad Request
 ▸    Invalid response from API.
 ▸    HTTP 400
 ▸    {xxxxxxxxxxxx xxxxxxxxxxx}
 ▸
 ▸    Are you behind a proxy?
 ▸    https://devcenter.heroku.com/articles/using-the-cli#using-an-http-proxy

 ▸    Post https://api.heroku.com/login: http: error connecting to proxy http://proxy.server.com:portnumber: dial t

[2017-08-15 17:50] agustinmar opened #2065 "no puedo acceder ni hacer deploy. Alguna solución?"
C:\ [master =]> heroku login
 !    heroku-cli: This CLI is deprecated. Please reinstall from https://cli.heroku.com
 !    Heroku client internal error.
 !    Search for help at: https://help.heroku.com
 !    Or report a bug at: https://github.com/heroku/heroku/issues/new

    Error:       undefined method `split' for nil:NilClass (NoMethodError)
    Command:     heroku login
    Version:     herok

[2017-08-23 15:32] #2062 closed

[2017-08-23 15:32] sonu1989 commented on #2062
Thank you!

[2017-08-24 22:32] zackster commented on #1240
At an airport.  Port 5000 is blocked.  But port ssh is open.  So I ssh'd into one of my VPs and installed the heroku-cli there.

[2017-09-20 08:38] sevaTechoPark commented on #798
awesome

[2017-09-23 17:01] Tim15 commented on #1801
Some type of issue with `.netrc`, see #1836.

[2017-09-23 17:01] #1801 closed

[2017-09-24 06:16] pbmorton opened #2066 "heroku local malfunctions versus heroku cloud deployed App"
I have a java webapp on heroku. It runs perfectly on the cloud. But when run locally it appears to use a stale resource. My jar is called nymmbl1-1.0.jar. I have 100% verified the resource is correct in target\nymmbl1-1.0.jar and ~.m2\repository\com\nymmbl\nymmbl1\1.0\nymmbl1-1.0.jar. When run locally the resource is old. It's as though heroku local is using some cached version.

Has anyone ever s

[2017-09-25 14:32] AnisAhmedNacer opened #2067 "undefined method `addons' for Heroku::Addons:Module"

[2017-09-27 05:47] pbmorton commented on #2066
This issue was opened in the wrong place. I'm closing it here and reopening it at https://github.com/heroku/heroku-apps/issues/202

[2017-09-27 05:47] #2066 closed

[2017-10-01 01:33] FaroukY commented on #507
Thank you iamvery for mentioning your solution. Turns out I had the same problem and my school's network was blocking it. Very helpful.

[2017-10-02 19:34] ddouglasz commented on #1994
hi, i am currently facing the same problems too. please i don't know if the issue has been tackled by any chance because on google so far i still have not found any solutions. i would be glad to get a response.
thank you so much in advance.

[2017-10-05 03:01] chrisfunk12 opened #2068 "nk@traclpo"

[2017-10-20 00:44] #2068 closed

[2017-10-24 02:23] twohey commented on #994
This is a legacy project and no progress has happened for over 3 years. Closing as it appears the underlying issue will not be fixed and may not exist in the new CLI.

[2017-10-24 02:23] #994 closed

[2017-11-03 22:08] SwetchaReddy opened #2069 "d"

[2017-11-05 04:05] CodeZaru commented on #1994
Try taking a look at your System PATH Environment Variable (I use Windows 10), and if the Heroku PATH variable doesn't include the "bin" directory, just add it and reboot your machine.. So if you had C:\Program Files\Heroku\ as the path, edit it to be C:\Program Files\Heroku\bin\

I experienced the same issue, and this was how I fixed it.  I generally use a standard (non-admin Windows account) for